//- Document vars
block options
	- docTitle = 'Phoenix by Connective DX';

block content
	div(class='row')
		h1 Documentation
		ul
			li
				a(href='documentation/sass-api/') Sass API
			li
				a(href='style-guide.html') Style Guide

		h1 Sample Pages
		ul
			li
				a(href='grid-system-test.html') Grid System Test

			li Semantic Grid System Test
				ul
					li
						a(href='semantic-grid-system-test-two-column.html') Two Column
					li
						a(href='semantic-grid-system-test-three-column.html') Three Column
			li
				a(href='complex-layout-test.html') Complex Layout Test

extend ./layouts/one-column.jade