block content
	div(class='row')
		h1 Documentation
		ul
			li
				a(href='documentation/sass-api/') Sass API
			li
				a(href='style-guide.html') Style Guide
		
		h1 Simple Layouts
		ul
			li
				a(href='simple-one-column.html') One Column
			li
				a(href='simple-two-column.html') Two Column
			li
				a(href='simple-three-column.html') Three Column			

		h1 Complex Layouts
		ul
			li
				a(href='grid-system-test.html') Grid System Test			
			li
				a(href='complex-layout-test.html') Complex Layout Test			
			li
				a(href='semantic-grid-system-test-two-column.html') Semantic Two Column				
			li
				a(href='semantic-grid-system-test-three-column.html') Semantic Three Column

extend ./layouts/one-column.jade