//- Document vars
block options
	- docTitle = 'Simple Layouts';
	- bodyClass = 'shifted no-gutters';

block primary
	h1 Primary Column

	img(src='http://fpoimg.com/620x220?text=Simple Three Column' alt='')
	p Suspendisse aliquet tempus volutpat. Cras ut molestie libero. Curabitur nec mauris cursus, finibus leo et, porttitor nisi. Sed iaculis urna sit amet bibendum volutpat. Mauris ac lacus magna. Donec bibendum sapien vitae vulputate venenatis. Sed pharetra, eros quis placerat scelerisque, quam sem congue tellus, eget ornare eros nisi eu eros. Morbi sed enim dui. Praesent sit amet justo dui. Fusce aliquet lectus nisl, at ornare tellus vestibulum vel.

	p Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut in urna finibus, ullamcorper ligula eu, luctus lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam id lacus sit amet lacus rutrum tempor a id nisi. In lobortis quam eu justo imperdiet, ut molestie nibh tempus. Fusce luctus at est et porttitor. Aenean pretium justo in quam luctus bibendum a sed metus. Nunc vel justo ligula. Maecenas non vehicula nisi, ac tristique elit.

	include inc/components/layout-toggle.jade	

block secondary
	h3 Secondary Column

	p Sed sodales, metus eu rhoncus ornare, elit eros consequat metus, sit amet gravida mi magna in dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla cursus sapien lacus, sed ultrices lorem mollis vel.  Mauris tincidunt fringilla quam nec condimentum.

	p In ut magna lacinia, imperdiet diam quis, dapibus justo. Mauris sit amet dignissim magna. In tristique vestibulum elit, in porta lorem elementum vitae. Pellentesque sed consectetur odio. Nulla in viverra nunc, quis malesuada leo. Maecenas eget malesuada odio.

	p 
		img(src='http://fpoimg.com/280x160?text=Simple Three Column' alt='')

block tertiary
	h3 Tertiary Column

	p In augue quam, bibendum elementum sodales et, laoreet at magna. Ut nisi dolor, auctor dignissim turpis in, condimentum maximus nulla. In hac habitasse platea dictumst. Morbi interdum ornare scelerisque. Sed vel lorem at orci elementum sagittis. Aliquam iaculis nisi a pretium suscipit. 
	
	p Duis dignissim, magna non varius varius, odio orci semper ipsum, et sollicitudin lectus mi nec enim. Vivamus sit amet viverra libero. Donec cursus molestie lacus vitae finibus. Maecenas pretium finibus nibh sed semper. Morbi iaculis sem in pretium faucibus. In scelerisque ultrices congue.

	p
		img(src='http://fpoimg.com/280x160?text=Simple Three Column' alt='')


extend ./layouts/three-column.jade	