@function divide-cols($colNum) {
	@return 100%/$colNum;
}

@mixin flex($desktopColumns, $tabletColumns: $desktopColumns, $mobileColumns: 1, $smallBreak: mobile, $mediumBreak: tabletPortrait, $largeBreak: desktop) {
	// These styles apply to all shift-columns
	@include box-sizing();
	display: inline-block;
	float: left;
	padding-left: $gutter / 2;
	padding-right: $gutter / 2;

	// IE8 fallback
	width: divide-cols($mobileColumns);

	@include respond($smallBreak) {
		width: divide-cols($mobileColumns);
	}

	@include respond($mediumBreak) {
		width: divide-cols($tabletColumns);
	}

	@include respond($largeBreak) {
		width: divide-cols($desktopColumns);
	}
}