// @category layout

// @function header
// The location to define major column layouts and styles for the header.
header {
	background: $lightGrey;
	@include row();

	.column, .columns {
		margin-top: 0;
	}

	// ie8 and older height needed for mobile header size
	// max-width needed because border-box isn't supported for the header element
	.oldie & {
		max-width: $rowMaxWidth - ($gutterInPx * 2);
	}
}