// Gumby Semantic Grid Mixin
// Adjusted by ISITE Design to be mobile-first

// Mixin for rows
@mixin row($nested: false) {
	@include box-sizing();
	@extend %clearfix;
	margin-left: 0; 
	margin-right: 0;
	min-width: 0;
	width: auto;

	@if $nested == nested {
		margin-top: $gutterInPx;
		padding: 0;

		&:first-child {
			margin-top: 0;
		}
	}
	@else {
		padding: $gutterInPx;
	}

	@include respond(tabletPortrait) {
		@if $nested == nested {
			max-width: none;
			min-width: 0px;
			padding: 0;
			width: auto;
		}
		@else {
			margin: 0 auto;
			max-width: $rowMaxWidth;
			min-width: $minDeviceWidth;
			width: 100%;
		}
	}
}

@mixin column($columns: $columns, $alignment: false, $behavior: false) {
	@if $alignment == center {
		@extend %columnconfig;
		float: left;
		margin-left: 0;
		margin-top: $gutterInPx;
		width: 100%;

		&:first-child {
			margin-top: 0;
		}

		@include respond(tabletPortrait) {
			float: none;
			margin-left: auto !important;
			margin-right: auto !important;
			margin-top: 0;
			width: columns($columns);
		}
	}
	@else if $behavior == collapse {
		@extend %columnconfig;
		@extend %collapse;
		float: left;
		margin-top: $gutterInPx;
		width: 100%;

		&:first-child {
			margin-top: 0;
		}

		@include respond(tabletPortrait) {
			float: none;
			margin-top: 0;
			width: columns($columns);

			&:first-child {
				margin-left: 0;
			}
		}
	}
	@else {
		@extend %columnconfig;
		float: left;
		margin-left: 0;
		margin-top: $gutterInPx;
		width: 100%;

		&:first-child {
			margin-top: 0;
		}

		@include respond(tabletPortrait) {
			margin-left: $gutter;
			margin-top: 0;
			width: columns($columns);

			&:first-child {
				margin-left: 0;
			}
		}
	}
}

@mixin hybrid($columns:$columns, $alignment: false, $behavior: false) {
	@if $alignment == center   {
		@extend %columnconfig;
		float: left;
		margin-left: 0;
		margin-top: $gutterInPx;
		width: 100%;

		&:first-child {
			margin-top: 0;
		}

		@include respond(tabletPortrait) {
			float: none;
			margin-left: auto !important;
			margin-right: auto !important;
			margin-top: 0;
			width: columns($columns, true);
		}
	}
	@else if $behavior == collapse {
		@extend %collapse;
		float: left;
		margin-top: $gutterInPx;
		width: 100%;

		&:first-child {
			margin-top: 0;
		}
		
		@include respond(tabletPortrait) {
			float: none;
			margin-top: 0;
			width: columns($columns, true);
		}
	}
	@else {
		@extend %columnconfig;
		float: left;
		margin-left: 0;
		margin-top: $gutterInPx;
		width: 100%;

		&:first-child {
			margin-top: 0;
		}

		@include respond(tabletPortrait) {
			float: none;
			margin-left: $gutter;
			margin-top: 0;
			width: columns($columns, true);
		}
	}
}

@mixin push($columns, $hybridGrid: false) {
	@if $hybridGrid == hybrid {
		margin-left: 0;

		@include respond(tabletPortrait) {
			margin-left: push_x($columns, false, true);
			&:first-child {
				margin-left: push_x($columns, true, true);
			}
		}
	}
	@else {
		margin-left: 0;
		
		@include respond(tabletPortrait) {
			margin-left: push_x($columns);
			&:first-child {
				margin-left: push_x($columns, true);
			}
		}
	}
}

@mixin pull($direction: left, $columns: 0, $width: 0, $hybridGrid: false) {
	@if $direction == left {
		@extend %pull-left;
		@if ($columns > 0 and $width > 0) {
			@if ($hybridGrid == hybrid) {
				margin-left: 0;

				@include respond(tabletPortrait) {
					margin-left: pull_x($columns, $width, true);
					&:first-child {
						margin-left: 0;
					}
				}
			}
			@else {
				margin-left: 0;

				@include respond(tabletPortrait) {
					margin-left: pull_x($columns, $width);
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
	}
	@elseif $direction == none {
		@extend %pull-none;
	}
	@else {
		@extend %pull-right;
	}
}


// Placeholders for the Semantic Grid

%container {
	margin-left: 0;
	margin-right: 0;
	min-width: 0;

	@include respond(tabletPortrait) {
		padding: 0px $gutterInPx + px;
	}
}

// Clearfix placeholder
%clearfix { @include clearfix(); }

// Clearfix placeholder for mobile
%mobilefix { @include mobilefix(); }

// Row placeholders
%row { @include row(); }
%nestedrow { @include row(nested); }

// Column Configuration placeholder
%columnconfig {
	@include box-sizing();
	float: $defaultFloat;
	min-height: 1px;
	position: relative;
}

%pull-right { float: right; }
%pull-left { float: left; }
%pull-none { float: none; }

// Collapse Gutters
%collapse {
	margin-left: 0px;
}