// @category layout

// @function grid
// The natural language grid system (using class names like "columns" and "row").  This is enabled or disabled with the $enableGrid variable in /variables/_options.scss.
@mixin grid {
	.container {
		margin-left: 0;
		margin-right: 0;
		min-width: 0;
	}
	.content {
		background-color: white;
	}
	.row {
		@include box-sizing();
		margin-left: 0;
		margin-right: 0;
		min-width: 0;
		padding: $gutterInPx;
		width: 100%;

		// max-width needed because border-box isn't supported for some HTML5 elements in old versions of IE
		@if unit($rowMaxWidth) == "px" {
			.oldie & {
				max-width: $rowMaxWidth - ($gutterInPx * 2);
			}
		}

		& + .row {
			padding-top: 0;
		}

		.row {
			margin-top: $gutterInPx;
			padding: 0;

			&:first-child {
				margin-top: 0;
			}
			
			.column, .columns {
				padding: 0;
			}
		}
		.centered {
			margin: 0;
		}
	}
	.column, .columns {
		float: none;
		margin: 0;
		padding: $gutterInPx;
		width: auto;

		&:last-child {
			float: none;
		}
	}

	[class*="column"] {
		+ [class*="column"]:last-child {
			float: none;
		}
		&:before {
			display: table;
		}
		&:after {
			clear: both;
			display: table;
		}
	}

	@include respond(breakpointMedium) {
		.content,
		.row {
			margin: 0 auto;
			max-width: $rowMaxWidth;
			width: 100%;

			.row {
				min-width: 0px;
			}
		}

		.column, .columns {
			@include box-sizing();
			float: $defaultFloat !important;
			min-height: 1px;

			&.flush {
				margin-left: 0;
			}
		}

		.column.omega, .columns.omega {
			float: $switchFloat;
		}

		// Generate Column Classes
		.row {
			@for $i from 1 through $cols{
				@if $i == 1 and (index($enabledColumns, $i) or length($enabledColumns) == 0 ) {
					.one.column {
						width: columns($i);
					}
					.one.columns {
						// Fix for Sass bug
						// @extend .one.column
						width: columns($i);
					}
				}
				@else if (index($enabledColumns, $i) or length($enabledColumns) == 0 ) {
					.#{number-as-word($i)}.columns {
						width: columns($i);
					}
				}
			}
		}

		// Generate Push and Pull Classes
		.row {
			@for $i from 1 through $cols - 1 {
				@if ($enablePush) {
					.push_#{number-as-word($i)} {
						margin-left: push_x($i);
					}
				}
				@if ($enablePull) {
					.pull_#{number-as-word($i)} {
						// pull classes need to know the width of the container being pulled
						@for $j from 1 through $cols - 1 {
							@if $j == 1 {
								&.one.column {
									margin-left: pull_x($i, $j);
								}
							}
							@else {
								&.#{number-as-word($j)}.columns {
									margin-left: pull_x($i, $j);
								}
							}
						}
					}
				}
			}
		}

		// Generate Centered Classes
		.row {
			@if ($enableCentered) {
				@for $i from 1 through $cols - 1 {
					.#{number-as-word($i)}.centered {
						@include respond(breakpointMedium) {
							margin-left: centered($i);
						}
					}
				}
			}
		}
	}

	// Generate Hybrid Grid Column Classes
	@if ($enableHybridGrid) {
		.#{number-as-word($hybridCols)}.colgrid .row {
			@for $i from 1 through $hybridCols {
				@if $i == 1{
					.one.column {
						@include box-sizing();
						width: 100%;

						@include respond(breakpointMedium) {
							width: columns($i, hybrid);
						}
					}
					.one.columns {
						@include box-sizing();
						width: 100%;

						@include respond(breakpointMedium) {
							// Temp fix for Sass bug
							// @extend .one.column
							width: columns($i, hybrid);
						}
					}
				}
				@else{
					.#{number-as-word($i)}.columns{
						@include box-sizing();
						width: 100%;

						@include respond(breakpointMedium) {
							width: columns($i, hybrid);
						}
					}
				}
			}
		}
	}

	// Generate Hybrid Push Classes
	@if ($enableHybridGrid) {
		.#{number-as-word($hybridCols)}.colgrid .row {
			@for $i from 1 through $hybridCols - 1 {
				@if ($enablePush) {
					.push_#{number-as-word($i)} {
						@include respond(breakpointMedium) {
							margin-left: push_x($i, hybrid);
						}
					}
				}
				@if ($enablePull) {
					.pull_#{number-as-word($i)} {
						// pull classes need to know the width of the container being pulled
						@for $j from 1 through $hybridCols - 1 {
							@if $j == 1 {
								@include respond(breakpointMedium) {
									&.one.column {
										margin-left: pull_x($i, $j, hybrid);
										
										&:first-child {
											margin-left: 0;
										}
									}
								}
							}
							@else {
								@include respond(breakpointMedium) {
									&.#{number-as-word($j)}.columns {
										margin-left: pull_x($i, $j, hybrid);

										&:first-child {
											margin-left: 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// Generate Centered Classes
	@if ($enableHybridGrid) {
		.#{number-as-word($hybridCols)}.colgrid .row {
			@for $i from 1 through $hybridCols - 1 {
				@if ($enableCentered) {
					.#{number-as-word($i)}.centered {
						@include respond(breakpointMedium) {
							margin-left: centered($i, hybrid);
						}
					}
				}
			}
		}
	}

	.pull_right { float: right; }

	.pull_left { float: left; }

	.clearfix { @include clearfix(); }

	.row { @include clearfix(); }
}