// @category functions

// @function em
// Converts a target value in pixels to its associated value in ems based on a context.
// @param $target {Number} The target size in either pixels or its integer equivalent.  [px|integer]
// @param $context {Number} The context size in either pixels or its integer equivalent.  Default value: $baseFontSize.  [px|integer]
// @return {Number} The target's value in ems within the given context.  [em]
// @usage
// =em(12) will return 0.75em
// =em(12, 24) will return 0.5em
@function em($target, $context: $baseFontSize) {
	@return (parseInt($target) / parseInt($context)) * 1em;
}