// @category variables

// @function typography
// The base typography settings for the project.
// @param $baseFontPercentage {Number} The percentage of the font-size to be used on the root html element.  [percentage]
// @param $baseFontSize {Number} The base font-size for the root html element, calculated as an integer based on $baseFontPercentage.  [integer]
// @param $lineHeight {Number} The base line height for the root html element.  [decimal]
// @param $baseFontFamily {String} The base font-family for the root html element.
$baseFontPercentage: 100%;
$baseFontSize: 16 * ($baseFontPercentage / 100%);
$lineHeight: 1.33;
$baseFontFamily: 'Open Sans', Helvetica, Arial, sans-serif;