# Metadata
*.DS_Store
*._*

# Config and documentation
documentation-sassdoc/*
web.config
codekit-config.json

# Compiled files
_resources/*
_resources/css/!global.css
_resources/!src/
_resources/src/node_modules
_resources/npm-debug.log