<!DOCTYPE html>

<html ng-app="FEDTemplateDocApp">
<head>
	<meta charset='utf-8'>
	<meta content="chrome=1" http-equiv="X-UA-Compatible">
	<meta content="FED Template Engine by ISITE Design" name="description">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
	<link href="css/style.css" media="screen" rel="stylesheet" type="text/css">
	<script src="js/angular.min.js"></script>
	<script src="js/main.js"></script>
	<title>FED Template Engine</title>
</head>

<body>
	<header class="doc-header">
		<a href="https://github.com/isitedesign/FED-Template-Engine" class="fork-me">
			<img src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
		</a>
	
		<div class="row">
			<div class="doc-logo">
				<div class="doc-logo-inner">
					<div class="logo-cake-candle"></div>
					<div class="logo-cake-frosting"></div>
					<div class="logo-cake-top"></div>
					<div class="logo-cake-filling"></div>
					<div class="logo-cake-bottom"></div>
					<div class="logo-cake-plate"></div>
				</div>
			</div>
			<div class="doc-project-title">
				<h1 id="project_title">FED Template Engine</h1>
				<h2 id="project_tagline">Making websites a piece of cake</h2>
			</div>

			<section class="doc-downloads">
				<a class="zip-download-link" href="https://github.com/isitedesign/FED-Template-Engine/zipball/master" target="_blank">Download this project as a .zip file</a>
				<a class="tar-download-link" href="https://github.com/isitedesign/FED-Template-Engine/tarball/master" target="_blank">Download this project as a tar.gz file</a>
			</section>
		</div>
	</header>

	<section class="row" role="main">
		<h1>SCSS</h1>

		<div ng-controller="SCSSCtrl">
			<h2 class="divider">Functions</h2>
			<div class="doc-functions" ng-repeat="function in objects.functions">
				<div class="doc-callout">
					<h2 class="doc-function-name">
						{{function.function[0]}} (<span class="function-parameters" ng-repeat="param in function.param">{{param.name}}<span ng-if="$index < (function.param.length - 1)">, </span></span>)
					</h2>
					<span class="badge-primary">{{function.source}}</span>
					<h3 class="divider-secondary">Description</h3>
					<p class="doc-function-description">{{function.function[1]}}</p>
					<h3 class="divider-secondary">Parameters</h3>
					<table ng-if="function.param.length > 0">
						<thead>
							<tr>
								<th>Parameter Name</th>
								<th>Data Type</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="param in function.param">
								<td><span class="badge-primary">{{param.name}}</span></td>
								<td><span class="badge-secondary">{{param.type}}</span></td>
								<td><span>{{param.description}}</span></td>
							</tr>
						</tbody>
					</table>
					<h3 class="divider-secondary">Returns</h3>
					<ul class="plain">
						<li ng-repeat="return in function.return">
							{{return.type}} - {{return.description}}
						</li>
					</ul>
					<h3 class="divider-secondary">Usage</h3>
					<ol>
						<li ng-repeat="usage in function.usage" ng-if="$index > 0">
							{{usage}}
						</li>
					</ol>
				</div>
			</div>
			
			<h2 class="divider">Mixins</h2>
			<div class="doc-mixins" ng-repeat="mixin in objects.mixins">
				<div class="doc-callout">
					<h2 class="doc-mixin-name">
						{{mixin.mixin[0]}} (<span class="mixin-parameters" ng-repeat="param in mixin.param">{{param.name}}<span ng-if="$index < (mixin.param.length - 1)">, </span></span>)
					</h2>
					<span class="badge-primary">{{mixin.source}}</span>
					<h3 class="divider-secondary">Description</h3>
					<p class="doc-mixin-description">{{mixin.mixin[1]}}</p>
					<h3 class="divider-secondary" ng-if="mixin.param.length > 0">Parameters</h3>
					<table ng-if="mixin.param.length > 0">
						<thead>
							<tr>
								<th>Parameter Name</th>
								<th>Data Type</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="param in mixin.param">
								<td><span class="badge-primary">{{param.name}}</span></td>
								<td><span class="badge-secondary">{{param.type}}</span></td>
								<td><span>{{param.description}}</span></td>
							</tr>
						</tbody>
					</table>
					<h3 class="divider-secondary">Usage</h3>
					<ol>
						<li ng-repeat="usage in mixin.usage" ng-if="$index > 0">
							{{usage}}
						</li>
					</ol>
				</div>
			</div>

			<h2 class="divider">Variables</h2>
			<div class="doc-variables" ng-repeat="variableType in objects.variables">
				<div class="doc-callout">
					<h2 class="doc-variable-type">
						{{variableType.function[0]}}
					</h2>
					<span class="badge-primary">{{variableType.source}}</span>
					<hr class="divider-secondary" />
					<table ng-if="variableType.param.length > 0">
						<thead>
							<tr>
								<th>Variable Name</th>
								<th>Data Type</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="variable in variableType.param">
								<td><span class="badge-primary">{{variable.name}}</span></td>
								<td><span class="badge-secondary">{{variable.type}}</span></td>
								<td><span>{{variable.description}}</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>			
		</div>
	</section>
	
	<footer class="doc-footer">
		<div class="row">
			<p class="copyright">FED Template Engine maintained by <a href="https://github.com/isitedesign" target="_blank">isitedesign</a></p>

			<p>Published with <a href="http://pages.github.com" target="_blank">GitHub Pages</a></p>
		</div>
	</footer>
</body>
</html>