%button-config {
	border-radius: $buttonBorderRadius;
	border-style: none;
	color: white;
	display: inline-block;
	@include font-size(18);
	margin-right: em(5, 18);
	padding: em(6, 18) em(12, 18);
	text-align: center;
	text-decoration: none;

	&.btn-full-width {
		display: block;
		margin-right: 0;
		margin-top: em(16);
		text-align: left;

		&:first-child {
			margin-top: 0;
		}
	}

	&.btn-small {
		@include font-size(14);
		padding: em(6, 14) em(12, 14);
	}

	// sibling buttons may be too wide on low resolutions and wrap to multiple lines
	& + button,
	& + .btn {
		margin-top: em(5);

		@include respond(tabletPortrait) {
			margin-top: 0;
		}
	}
}

button,
.btn {
	@extend %button-config;
	background-color: $colorPrimary;
	border: 1px solid darken($colorPrimary, 10%);

	&:hover,
	&:active,
	&:focus {
		background-color: lighten($colorPrimary, 10%);
	}
}

.btn-secondary {
	@extend %button-config;
	background-color: $colorSecondary;
	border: 1px solid darken($colorSecondary, 10%);

	&:hover,
	&:active,
	&:focus {
		background-color: lighten($colorSecondary, 10%);
	}
}