// @category modules

// @function callout
// Class used for calling out a specific portion of the page.
.callout {
	background: $lightGrey;
	margin-top: em(10);
	padding: $secondaryGutterInPx;

	&:first-child {
		margin-top: 0;
	}
}