// IE9 and newer supported; IE8 and lower will have standard form elements
// :not() targets > IE8, #foo is just a random ID
fieldset:not(#foo) {
	input[type="radio"],
	input[type="checkbox"] {
		float: left;
		height: 1px;
		margin: 0;
		opacity: 0;
		padding: 0;
		width: 1px;

		& + label {
			background-image: url('#{$imagesFolder}bg-form-elements.png');
			background-repeat: no-repeat;
			clear: none;
			display: block;
			padding: 6px 5px 4px 27px;

			&.inline {
				display: inline-block;
			}
		}
	}

	$horizontalDisplacement: 5px;
	$radioImagePosition: -234px;

	input[type="radio"] {
		& + label {
			background-position: $horizontalDisplacement $radioImagePosition;
		}
		&:active + label,
		&:focus + label {
			background-position: $horizontalDisplacement $radioImagePosition - 80px;
		}
		&:checked + label {
			background-position: $horizontalDisplacement $radioImagePosition - 160px;
		}
	}

	$checkboxImagePosition: 6px;

	input[type="checkbox"] {
		& + label {
			background-position: $horizontalDisplacement $checkboxImagePosition;
		}
		&:active + label,
		&:focus + label {
			background-position: $horizontalDisplacement $checkboxImagePosition - 80px;
		}
		&:checked + label {
			background-position: $horizontalDisplacement $checkboxImagePosition - 160px;
		}
	}
}

.oldie {
	fieldset {
		input[type='radio'],
		input[type='checkbox'] {
			& + span {
				margin-left: em(4);
				min-height: 20px;
			}
		}
	}
}

fieldset {
	label {
		&.inline {
			display: inline-block;
			padding-right: 5px;
		}
	}
}

// selects
.decorator-select {
	background-image: -moz-linear-gradient(top, #fbfaf9 0%, #979694 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfaf9), color-stop(100%,#979694)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #fbfaf9 0%,#979694 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #fbfaf9 0%,#979694 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #fbfaf9 0%,#979694 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, #fbfaf9 0%,#979694 100%); /* W3C */
	background-size: 100%;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfaf9', endColorstr='#979694',GradientType=0 ); /* IE6-9 */
	border: 1px solid black;
	border-radius: $buttonBorderRadius;
	@include box-sizing();
	display: inline-block;
	height: auto;
	overflow: hidden;
	position: relative;
	width: 100%;

	&:after {
		content: url('#{$imagesFolder}bg-select-arrow.png');
		height: 34px;
		pointer-events: none;
		position: absolute;
		right: 8px;
		top: 3px;
		width: 25px;
		z-index: 100;
	}
	&:first-child {
		margin-left: 0;
	}
	select {
		-webkit-appearance: none;
		background: transparent;
		border: none;
		color: black;
		display: block;
		height: 34px;
		outline: none;
		padding: 6px 10px 6px 10px;
		position: relative;
		width: 100%;
		z-index: 99;
	}
}