.nav-handle {
	background-color: $black;
	color: $white;
	cursor: pointer;
	display: block;
	@include font-size(24);
	margin: (-$gutterInPx) (-$gutterInPx) 0 (-$gutterInPx);	// need parentheses around -$gutterInPx to compile correctly
	padding: em(12, 24);

	@include respond(tabletPortrait) {
		display: none;
	}
}

.brand {
	@include column(6);
	@include pull(10, 6);
}

#nav {
	@include column(6);
	@include push(10);
}

.nav-list {
	background-color: $black;
	list-style: none;
	margin: 0 (-$gutterInPx);
	max-height: 0;
	overflow: hidden;
	@include transition(max-height, 0.5s, ease-in-out);

	&.expanded {
		max-height: rem(500);
	}

	a {
		color: $white;
		display: block;
		padding: em(12);

		&:hover {
			color: $mediumGrey;
		}
	}

	@include respond(tabletPortrait) {
		background-color: transparent;
		max-height: none;
		padding: em(16) $gutterInPx;
		text-align: right;

		li {
			display: inline-block;
			margin-left: em(16);

			&:first-child {
				margin-left: 0;
			}
		}

		a {
			color: $black;
			padding: 0;
		}
	}
}