// tab
$tabBackgroundColor: $colorPrimary;
$tabHoverBackgroundColor: lighten($tabBackgroundColor, 10%);
$tabTextColor: white;

// active tab
$tabActiveBackgroundColor: $lightGrey;
$tabActiveHoverBackgroundColor: lighten($tabActiveBackgroundColor, 10%);
$tabActiveTextColor: black;

// tab panel
$tabPanelBackgroundColor: $lightGrey;
$tablPanelTextColor: black;

.responsive-tabs-wrapper { 
	clear: both;
	zoom: 1;

	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.responsive-tabs__heading {
	background: $tabBackgroundColor;
	border: 1px solid black;
	border-radius: $buttonBorderRadius;
	color: $tabTextColor;
	cursor: pointer;
	display: block;
	padding: em(9, 18);
	position: relative;

	&:after {
		content: $iconArrowDown;
		display: block;
		font-family: $iconFontFamily;
		@include font-size(32);
		position: absolute;
		right: 20px;
		top: 3px;
		width: 20px;
	}

	@include respond(tabletPortrait) {
		display: none;    
	}
}
	.responsive-tabs__heading--active {
		background: $tabActiveBackgroundColor;
		border-bottom: 1px dashed black;
		border-radius: $buttonBorderRadius $buttonBorderRadius 0 0;
		color: $tabActiveTextColor;
		margin-bottom: 0;

		&:after {
			color: $tabActiveTextColor;
			content: $iconArrowUp;
		}
	}
	.responsive-tabs__heading:hover {
		background-color: $tabHoverBackgroundColor;
	}
	.responsive-tabs__heading--active:hover {
		background-color: $tabActiveHoverBackgroundColor;
	}

.responsive-tabs__panel {
	background-color: $tabPanelBackgroundColor;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin-bottom: em(12);
	padding: em(16);

	@include respond(tabletPortrait) {
		margin-bottom: 0;
	}
}
	.responsive-tabs__panel--closed-accordion-only {
		display: none;

		@include respond(tabletPortrait) {
			display: block;
		}
	}

.responsive-tabs__list {
	border-bottom: 1px solid black;
	display: none;
	@include font-size(19);
	margin: 0;
	padding: em(11, 19) 0 em(11, 19);

	@include respond(tabletPortrait) {
		display: block;
	}
}

.responsive-tabs__list__item {
	background: $tabBackgroundColor;
	border: 1px solid black;
	border-bottom: none;
	border-top-left-radius: $buttonBorderRadius;
	border-top-right-radius: $buttonBorderRadius;
	color: $tabTextColor;
	cursor: pointer;
	display: inline;
	margin-right: 1px;
	padding: em(10, 19) em(20, 19);
	position: relative;
	top: 1px;

	&:hover {
		background: $tabHoverBackgroundColor;
	}
}
	.responsive-tabs__list__item--active, 
	.responsive-tabs__list__item--active:hover {
		background: $tabActiveBackgroundColor;
		border-color: black;
		border-bottom: none;
		color: $tabActiveTextColor;
		padding-top: em(14, 19);
		top: 2px;
	}

.responsive-tabs__heading:focus,
.responsive-tabs__list__item:focus,
.responsive-tabs__heading--active:focus,
.responsive-tabs__list__item--active:focus {
	outline: none !important;
}