@mixin multi-grid($mobileColumns, $tabletColumns, $desktopColumns, $padding: $gutterInPx, $smallBreak: mobile, $mediumBreak: breakpointMedium, $largeBreak: desktop) {
	// These styles apply to all shift-columns
	@include box-sizing();
	display: inline-block;
	float: left;
	padding: $padding;

	// IE8 fallback
	width: divideCols($mobileColumns);

	@include respond($smallBreak) {
		width: divideCols($mobileColumns);
	}

	@include respond($mediumBreak) {
		width: divideCols($tabletColumns);
	}

	@include respond($largeBreak) {
		width: divideCols($desktopColumns);
	}
}