@mixin multi-grid($selector, $smallColumns, $mediumColumns, $largeColumns, $flush: false, $padding: $gutterInPx, $smallBreak: breakpointSmall, $mediumBreak: breakpointMedium, $largeBreak: breakpointLarge) {
	// this is the container
	@include clearfix();

	@if $flush {
		margin: 0  -1 * $padding;
	}
	
	#{unquote($selector)} {
		// These styles apply to all shift-columns
		@include box-sizing();
		display: inline-block;
		float: left;
		padding: $padding;

		// IE8 fallback
		width: divideCols($smallColumns);

		@include respond($smallBreak) {
			width: divideCols($smallColumns);
		}

		@include respond($mediumBreak) {
			width: divideCols($mediumColumns);
		}

		@include respond($largeBreak) {
			width: divideCols($largeColumns);
		}
	}
}