@function divide-cols($colNum) {
	@return 100%/$colNum;
}

@mixin multiGrid($mobileColumns, $tabletColumns, $desktopColumns, $padding: $gutterInPx, $smallBreak: mobile, $mediumBreak: tabletPortrait, $largeBreak: desktop) {
	// These styles apply to all shift-columns
	@include box-sizing();
	display: inline-block;
	float: left;
	padding: $padding;

	// IE8 fallback
	width: divide-cols($mobileColumns);

	@include respond($smallBreak) {
		width: divide-cols($mobileColumns);
	}

	@include respond($mediumBreak) {
		width: divide-cols($tabletColumns);
	}

	@include respond($largeBreak) {
		width: divide-cols($desktopColumns);
	}
}