// Column Configuration placeholder
%columnconfig {
	@include box-sizing();
	float: $defaultFloat;
	min-height: 1px;
	position: relative;
}

// @category layout

// @function row
// Creates a semantic-grid row.
// @param $nested {String} Whether or not the row will be nested within other rows.  Default value: false.
// @param $padding {Number} A padding override to be set on the row.  Default value: $gutterInPx. [px|em]
// @usage
// row()
// row(nested)
// row(false, 0 50px 0 0)
@mixin row($nested: false, $padding: $gutterInPx) {
	@include box-sizing();
	@include clearfix();
	margin-left: 0; 
	margin-right: 0;
	min-width: 0;
	width: auto;

	@if $nested == nested {
		margin-top: $gutterInPx;
		padding: 0;

		&:first-child {
			margin-top: 0;
		}
	}
	@else {
		padding: $padding;
	}

	@include respond(breakpointMedium) {
		@if $nested == nested {
			max-width: none;
			min-width: 0px;
			padding: 0;
			width: auto;
		}
		@else {
			margin: 0 auto;
			max-width: $rowMaxWidth;
			width: 100%;
		}
	}
}

// @category layout

// @function column
// Creates a semantic-grid set of columns based on the base grid system settings.
// @param $columns {Number} The number of columns you wish your element's width to occupy. [integer]
// @param $padding {Number} A padding override to be set on the row.  Default value: $gutterInPx.  [px|em]
// @param $hybridGrid {String} Whether or not the columns will be contained within a hybrid grid.  Default value: false.
// @param $nested {String} Whether or not the columns will be contained within a nested row.  Default value: false.
// @param $alignmnet {String} Whether or not the columns will be centered within a row.  Default value: false.
// @usage
// column(8)
// column(8, 10px)
// column(8, $gutterInPx, hybrid)
@mixin column($columns, $padding: $gutterInPx, $hybridGrid: false, $nested: false, $alignment: false) {
	@if $alignment == center {
		@extend %columnconfig;
		margin: 0;
		padding: $padding;
		width: 100%;

		&:first-child {
			margin-top: 0;
		}

		@include respond(breakpointMedium) {
			float: none;
			margin-left: auto !important;
			margin-right: auto !important;
			margin-top: 0;
			width: columns($columns, $hybridGrid);
		}
	}
	@else {
		@extend %columnconfig;
		margin: 0;
		padding: $padding;
		width: 100%;

		@if $nested == nested {
			margin-top: $gutterInPx;

			&:first-child {
				margin-top: 0;
			}
		}

		@include respond(breakpointMedium) {
			margin-top: 0;
			width: columns($columns, $hybridGrid);
		}
	}
}

// @category layout

// @function push
// Pushes a semantic-grid set of columns by the number of columns specified.
// @param $columns {Number} The number of columns to push the set of columns.  [integer]
// @param $hybridGrid {String} Whether or not the set of columns are part of a hybrid grid.  Default value: false.
// @usage
// push(4)
// push(4, hybrid)
@mixin push($columns, $hybridGrid: false) {
	@if ($columns > 0) {
		margin-left: 0;

		@include respond(breakpointMedium) {
			margin-left: push_x($columns, $hybridGrid);
		}
	}
}


// @category layout

// @function pull
// Pulls a semantic-grid set of columns by the number of columns specified.
// @param $columns {Number} The number of columns to pull the set of columns.  [integer]
// @param $width {Number} The width, as a number of columns, of the set of columns being pulled.  [integer]
// @param $hybridGrid {String} Whether or not the set of columns are part of a hybrid grid.  Default value: false.
// @usage
// pull(4, 12)
// pull(4, 12, hybrid)
@mixin pull($columns, $width, $hybridGrid: false) {
	@if ($columns > 0 and $width > 0) {
		margin-left: 0;

		@include respond(breakpointMedium) {
			margin-left: pull_x($columns, $width, $hybridGrid);
			
			&:first-child {
				margin-left: 0;
			}
		}
	}
}