include ../inc/options.jade

doctype html
html(class='no-js' lang='en')
	head
		include ../inc/head.jade

	body(class='#{bodyClass}')
		<!--[if lte IE 8]>
		div(class='browser-alert').
			You&rsquo;re using an older web browser version that may make your computer unsafe. #[a(href='http://browsehappy.com/') Download the latest version] to keep your information safe and improve your experience.
		<![endif]-->
		include ../inc/components/header.jade

		div(class='wrapper')
			block content

		include ../inc/foot.jade