{% block title %}
	Grid System Test
{% endblock %}

{% block head %}
	<style>
		.column, .columns {
			border: 1px solid black;
			text-align: center;
		}
	</style>
{% endblock %}

{% extends "test.html" %}

{% block content %}
	<section>
		<div class="row">
			<h1>Grid System Test</h1>
		</div>
		<div class="row">
			<h2>Standard classes</h2>
		</div>
	</section>

	<section>
		<div class="row">
			<h2>Position classes</h2>
		</div>
	</section>

	<section>
		<div class="row">
			<h2>Centered classes</h2>
		</div>
	</section>
{% endblock %}