// @category modules

// @function utility
// The place for general utility classes.
.accessibility {
	height: 0;
	left: -9999em;
	line-height: 0;
	position: absolute;
	text-indent: -9999em;
}

%divider-config {
	border: none;	// reset border to none; this allows the class to be used on horizontal rules
	margin-top: $gutterInPx;
	padding-top: $gutterInPx;
}

.divider {
	@extend %divider-config;
	border-top: 1px solid black;

	&.row {
		margin-top: 0;
	}
}

.divider-secondary {
	@extend %divider-config;
	border-top: 1px dashed $colorGreyMedium;
}