// @category modules

// @function valign
// A vertical-alignment helper class.
.valign {
	display: table;
	width: 100%;

	> div {
		display: table-cell;
		vertical-align: middle;
	}
	> article {
		display: table-cell;
		vertical-align: middle;
	}
}