////
/// @group semantic-grid
////

/// Creates a semantic-grid row.
/// @param {String} $nested [false] - Whether or not the row will be nested within other rows.
/// @param {Pixels | Ems} $padding [$gutterInPx] - A padding override to be set on the row.
/// @param {Pixels | Percentage} $maxWidth [$rowMaxWidth] - A max-width override to be set on the row.
/// @example
/// row()
/// @example
/// row((nested: false))
/// @example
/// row((padding: 0 50px 0 0))
@mixin row($options: ()) {
	$options: map-merge((
		nested: false,
		padding: $columnPadding,
		maxWidth: $rowMaxWidth
	), $options);

	$nested: map-get($options, nested);
	$padding: map-get($options, padding);
	$maxWidth: map-get($options, maxWidth);

	@extend %clearfix;
	margin-left: 0;
	margin-right: 0;
	min-width: 0;
	width: 100%;

	@if $nested == true {
		margin-top: $columnPadding;
		max-width: none;
		padding: 0;

		&:first-child {
			margin-top: 0;
		}
	}
	@else {
		margin: 0 auto;
		max-width: $maxWidth;
		padding: $padding;
	}
}

/// Creates a semantic-grid set of columns based on the base grid system settings.  On low resolutions, the columns will stack and will break at the breakpoint provided to the number of columns specified.
/// @param {Number} $columns - The number of columns you wish your element's width to occupy.  Note that this can be an integer or decimal.
/// @param {Number} $position [false] - The column where you want your element's position to begin.  This is 1-indexed, so possible values are 1 through `$columns` defined in `variables/_grid.scss`.
/// @param {Pixels | Ems} $padding [$gutterInPx] - A padding override to be set on the row.
/// @param {Boolean} $nested [false] - Whether or not the columns will be contained within a nested row.
/// @param {Boolean} $centered [false] - Whether or not the columns will be centered within a row.
/// @param {Boolean} $includeGutterWidth [true] - Whether or not the column width will include the gutter width in its calculation.
/// @example
/// column(8)
/// @example
/// column(8, (padding: 10px))
@mixin column($columns, $options: ()) {
	$options: map-merge((
		position: false,
		padding: $columnPadding,
		nested: false,
		centered: false,
		includeGutterWidth: true
	), $options);

	$position: map-get($options, position);
	$padding: map-get($options, padding);
	$breakpoint: map-get($options, breakpoint);
	$nested: map-get($options, nested);
	$centered: map-get($options, centered);
	$includeGutterWidth: map-get($options, includeGutterWidth);

	@if $centered == true {
		@extend %column-config;
		clear: both;
		margin-left: centered($columns, $options);
		margin-top: 0;
		padding: $padding;
		width: columns($columns, $options);

		&:first-child {
			margin-top: 0;
		}
	}
	@else {
		@extend %column-config;
		padding: $padding;
		margin-top: 0;
		width: columns($columns, $options);

		@if $nested == true {
			margin-top: $columnPadding;

			&:first-child {
				margin-top: 0;
			}
		}

		@if $position != false {
			margin-left: columnPosition($position, $options);
			margin-right: -100%;
		}
		@else if $includeGutterWidth == true {
			margin-left: $gutterWidth;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}