// Column Configuration placeholder
%column-config {
	float: $defaultFloat;
	margin: 0;
	min-height: 1px;
	width: 100%;
}

// @category layout

// @function row
// Creates a semantic-grid row.
// @param $nested {Boolean} Whether or not the row will be nested within other rows.  Default value: false.
// @param $padding {Number} A padding override to be set on the row.  Default value: $columnPadding. [px|em]
// @param $maxWidth {Number} A max-width override to be set on the row.  Default value: $rowMaxWidth. [px|percentage]
// @usage
// row()
// row((nested: nested))
// row((padding: 0 50px 0 0))
@mixin row($options: ()) {
	$options: map-merge((
		nested: false,
		padding: $columnPadding,
		maxWidth: $rowMaxWidth
	), $options);

	$nested: map-get($options, nested);
	$padding: map-get($options, padding);
	$maxWidth: map-get($options, maxWidth);

	@extend %clearfix;
	margin-left: 0;
	margin-right: 0;
	min-width: 0;
	width: auto;

	@if $nested == true {
		margin-top: $columnPadding;
		padding: 0;

		&:first-child {
			margin-top: 0;
		}
	}
	@else {
		padding: $padding;
	}

	@include media(medium) {
		@if $nested == true {
			max-width: none;
			min-width: 0px;
			padding: 0;
			width: auto;
		}
		@else {
			margin: 0 auto;
			max-width: $maxWidth;
			width: 100%;
		}
	}
}

// @category layout

// @function column
// Creates a semantic-grid set of columns based on the base grid system settings.  On low resolutions, the columns will stack and will break at medium to the number of columns specified.
// @param $columns {Number} The number of columns you wish your element's width to occupy. [integer]
// @param $shifted {Boolean} Whether you will be pushing or pulling the columns.  Default value: false.
// @param $padding {Number} A padding override to be set on the row.  Default value: $columnPadding.  [px|em]
// @param $nested {Boolean} Whether or not the columns will be contained within a nested row.  Default value: false.
// @param $alignmnet {String} Whether or not the columns will be centered within a row.  Default value: false.
// @param $includeGutterWidth {Boolean} Whether or not the columns will have a gutter applied.  Default value: true.
// @usage
// column(8)
// column(8, (padding: 10px))
@mixin column($columns, $options: ()) {
	$options: map-merge((
		shifted: false,
		padding: $columnPadding,
		nested: false,
		alignment: false,
		includeGutterWidth: true
	), $options);

	$shifted: map-get($options, shifted);
	$padding: map-get($options, padding);
	$nested: map-get($options, nested);
	$alignment: map-get($options, alignment);
	$includeGutterWidth: map-get($options, includeGutterWidth);

	@if $alignment == centered {
		@extend %column-config;
		padding: $padding;

		&:first-child {
			margin-top: 0;
		}

		@include media(medium) {
			clear: both;
			margin-left: centered($columns, $options);
			margin-top: 0;
			width: columns($columns, $options);
		}
	}
	@else {
		@extend %column-config;
		padding: $padding;

		@if $nested == true {
			margin-top: $columnPadding;

			&:first-child {
				margin-top: 0;
			}
		}

		@include media(medium) {
			@if $shifted == false and $includeGutterWidth == true {
				margin-left: $gutterWidth;

				&:first-child {
					margin-left: 0;
				}
			}

			margin-top: 0;
			width: columns($columns, $options);
		}
	}
}

// @category layout

// @function push
// Pushes a semantic-grid set of columns by the number of columns specified.
// @param $columns {Number} The number of columns to push the set of columns.  [integer]
// @param $includeGutterWidth {Boolean} Whether or not the columns will have a gutter applied.  Default value: true.
// @usage
// push(4)
// push(4, (includeGutterWidth: false))
@mixin push($columns, $options: ()) {
	$options: map-merge((
		includeGutterWidth: true
	), $options);

	@if ($columns > 0) {
		margin-left: 0;

		@include media(medium) {
			margin-left: push_x($columns, $options);
		}
	}
}


// @category layout

// @function pull
// Pulls a semantic-grid set of columns by the number of columns specified.
// @param $columns {Number} The number of columns to pull the set of columns.  [integer]
// @param $width {Number} The width, as a number of columns, of the set of columns being pulled.  [integer]
// @param $includeGutterWidth {Boolean} Whether or not the columns will have a gutter applied.  Default value: true.
// @usage
// pull(4, 12)
@mixin pull($columns, $width, $options: ()) {
	$options: map-merge((
		includeGutterWidth: true
	), $options);

	@if ($columns > 0 and $width > 0) {
		margin-left: 0;

		@include media(medium) {
			margin-left: pull_x($columns, $width, $options);

			&:first-child {
				margin-left: 0;
			}
		}
	}
}