// @category mixins

// @mixin aspect-ratio
// Creates the necessary dimensions for an element to have a fixed aspect ratio.
// @param $width {Number} The desired width of the element's aspect ratio.  Default value: 16.  [px|integer]
// @param $height {Number} The desired height of the element's aspect ratio.  Default value: 9.  [px|integer]
// @usage
// =aspect-ratio()
// =aspect-ratio((width: 4, height: 3))
@mixin aspect-ratio($options: ()) {
	$options: map-merge((
		width: 16,
		height: 9
	), $options);

	$width: map-get($options, width);
	$height: map-get($options, height);

	position: relative;	// context for direct descendant

	// container to maintain aspect ratio
	&:before {
		content: '';
		display: block;
		padding-top: percentage(parseInt($height) / parseInt($width));
	}

	& > embed,
	& > iframe,
	& > object,
	& > video,
	& > img {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}