/// Adds a background color gradient.
/// @param {Color} $from - The top color of the gradient.
/// @param {Color} $to - The bottom color of the gradient.
/// @example
/// gradient(#000000, #ffffff);
@mixin gradient($from, $to) {
	background-color: $to; // All else fails
	background-image: linear-gradient(to bottom, $from 0%, $to 100%);	// W3C
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}',GradientType=0 );	// IE6-9
}