/// Adds background color gradient support
/// @param {Color} $from - The color for the gradient to start from.
/// @param {Color} $to - The color that the gradient will end with.
/// @example
/// gradient(#000000, #ffffff);
@mixin gradient($from, $to) {
	background-color: $to; // All else fails
	background-image: linear-gradient(to bottom, $from 0%, $to 100%);	// W3C
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}',GradientType=0 );	// IE6-9
}