// @category mixins

// @mixin media
// Adds a media query at the pre-defined breakpoint for the given content.
// @param $query {String} The name of the breakpoint for which the styles are to be applied.
// @usage
// =media(breakpointMedium)
@mixin media($query) {
	@each $breakpoint in $breakpoints {
		@if $query == nth($breakpoint, 1) {
			@media only screen and (min-width: em(nth($breakpoint, 2), 16)) { @content; }
		}
	}
	@if $query == rotateDevice {
		@media only screen and (max-width: em(nth(nth($breakpoints, 2), 2) ,16)) and (orientation: portrait) { @content; }
	}
}