// @category mixins

// @mixin rgba-background-color
// Outputs an rgba background-color with an opaque fallback. If a PNG is supplied, it will be used as a fallback for older IEs, and opaque background will be overridden.  Note: modernizr is required for the PNG fallback.
// @param $color {Color} The desired color.
// @param $alpha {Number} The desired level of opacity. [Decimal]
// @param $image {String} Filename and extension of a variable transparency fallback. Default value: false.
// @usage
// =rgba-background-color(#ff0000, 0.2);
// =rgba-background-color(red, 0.7, translucent-red);
@mixin rgba-background-color($color, $alpha, $image: false) {
	background-color: $color;
	background-color: rgba($color, $alpha);

	@if $image {
		.oldie & {
			background-color: transparent;
			background-image: image('#{$image}.png');
			background-repeat: repeat;
		}
	}
}
