// @category mixins

// @mixin sprite
// Reference a single image from generated sprite image by file-name.
// @param $image-file-name {string} File-name of the image you wish to use from your generated site sprite (see variables/sprites and img/css/sprite-files).
// @usage
// =sprite($image-file-name)

@mixin sprite($sprite) {		
	@include sprite-image(map-get($sprite, low_res));
	@include sprite-position(map-get($sprite, low_res));
	width: map-get(map-get($sprite, low_res), width);
	height: map-get(map-get($sprite, low_res), height);
	@include high-dpi() {
		@include sprite-image(map-get($sprite, hi_res));
		@include sprite-background-size(map-get($sprite, low_res)); 
	}
}

@mixin sprite-position($sprite) {
	$sprite-offset-x: map-get($sprite, offsetX);
	$sprite-offset-y: map-get($sprite, offsetY);
	background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
	$sprite-image: map-get($sprite, src);
	background-image: url(#{$sprite-image});
}

@mixin sprite-background-size($sprite) {
	$sprite-total-width: map-get($sprite, totalWidth);
	$sprite-total-height: map-get($sprite, totalHeight);
	background-size: $sprite-total-width $sprite-total-height;
}