// @category mixins

// @mixin sprite
// Reference a single image from generated sprite image by file-name.
// @param $image-file-name {string} File-name of the image you wish to use from your generated site sprite (see variables/sprites and img/css/sprite-files).
// @usage
// =sprite($image-file-name)

@mixin sprite($sprite) {
	@include sprite-image($sprite);
	@include sprite-position($sprite);
	@include sprite-width($sprite);
	@include sprite-height($sprite);
}

	@mixin sprite-width($sprite) {
		width: map-get($sprite, width);
	}

	@mixin sprite-height($sprite) {
		height: map-get($sprite, height);
	}

	@mixin sprite-position($sprite) {
		$sprite-offset-x: map-get($sprite, offsetX);
		$sprite-offset-y: map-get($sprite, offsetY);
		background-position: $sprite-offset-x  $sprite-offset-y;
	}

	@mixin sprite-image($sprite) {
		$sprite-image: map-get($sprite, src);
		background-image: url(#{$sprite-image});
	}

//The 'sprites' mixin generates identical output to the CSS template
//  but can be overridden inside of SCSS
//@include sprites($spritesheet-sprites);

@mixin sprites($sprites) {
  @each $sprite in $sprites {
	$sprite-name: map-get($sprite, name);
	.#{$sprite-name} {
	  @include sprite($sprite);
	}
  }
}