/// Outputs an SVG image for the given property with a PNG fallback.  Note:  modernizr is required for the PNG fallback.
/// @param {String} $imageName - The filename, without an extension, of the image file.
/// @param {String} $property [background-image] - The CSS property to which you wish to apply the image.
/// @example
/// svg-image(logo)
/// @example
/// svg-image(bullet-blue, (property: list-style-image))
@mixin svg-image($imageName, $options: ()) {
	$options: map-merge((
		property: background-image
	), $options);

	$property: map-get($options, property);

	#{$property}: image('#{$imageName}.svg', $svgFolder);

	.no-svg & {
		#{$property}: image('#{$imageName}.png');
	}
}