          /*
--=.._/(        CLIENT NAME PRINT STYLES      )\_..=--
    	  */

#nav, #footer, .nav {
    display: none;
}


/*

	Uncomment and insert correct domain

*/

/* insert the url with domain and slash
a:after 				{ content: " (http://domain.com/" attr(href)") "; }
 */
 
/* if starts with slash already, only put in domain to avoid doubling it
a[href^="/"]:after		{ content: " (http://domain.com" attr(href)") "; }
*/

/* if starts with http:, don't put in the domain at all -- it's either external or full url already
a[href^="http:"]:after	{ content: " (" attr(href)") "; }
 */
 
 
/* don't do that content insert at all for jump links and named anchors */
sup a:after,
a[href^="#"]:after,
a[name]:after 			{ content: ""; }