// grid and breakpoints are dependencies for the other variables
@import "grid";
@import "breakpoints";
@import "colors";
@import "folders";
@import "icons";
@import "measurements";
@import "options";
@import "placeholders";
@import "transitions";
@import "typography";