// @category variables

// @function breakpoints
// Named breakpoints that can be referenced with the respond() mixin.
// @param $breakpoints {List} The breakpoints for all resolutions represented as pairs with the breakpoint name and its associated pixel width.  [String px]
// @param $documentWidth {Number} The maximum width of documents.  This defaults to the value of $rowMaxWidth.  [px|percentage]
$breakpoints: (
	breakpointExtraSmall 320px,
	breakpointSmall 480px,
	breakpointMedium 768px,
	breakpointLarge 960px,
	breakpointExtraLarge 1220px
);
$documentWidth: $rowMaxWidth;