// @category variables

// @function colors
// The color palette for the project.
// @param $colors {Map} All project color variables represented as pairs with a color name and its corresponding value.  [String hex|rgb(a)|hsl(a)]
// NOTE: funtions/_color.scss uses the $colors map by default, so if this variable name changes, that function will need to be changed as well.

$colors: (
	primary: #a81e23,
	secondary: #d1d2d4,
	greyLight: #eeeeee,
	greyMedium: #cccccc,
	greyDark: #6d6d6d
);