/// Path to the parent assets folder.
/// @type String
$assetsFolder: '../';

/// Path to the images folder, relative to the `$assetsFolder`.
/// @type String
$imagesFolder: $assetsFolder + 'img/css/';

/// Path to the folder containing font files (e.g. .ttf, eot), relative to the `$assetsFolder`.
/// @type String
$fontsFolder: $assetsFolder + 'fonts/';