// @category variables

// @function folders
// Quick access to specific folders in the project.
// @param $assetsFolder {String} Path to the parent assets folder
// @param $imagesFolder {String} Path to the images folder, relative to the $assetsFolder
// @param $svgFolder {String} Path to the svg folder, relative to the $imagesFolder
// @param $fontsFolder {String} Path to the folder containing font files (e.g. .ttf, eot), relative to the $assetsFolder
$assetsFolder: '../';
$imagesFolder: $assetsFolder + 'img/css/';
$svgFolder: $imagesFolder + 'svg/';
$fontsFolder: $assetsFolder + 'fonts/';