////
/// @group grid
////

/// The number of columns in the grid system.
/// @type Integer
$columns: 12 !default;

/// The default gutter width between columns in pixels or percent.  If defined as pixels, it will be converted to a percentage; the pixel value will represent the gutter width at the `$rowMaxWidth`.
/// @type Pixels | Percentage
$gutterWidth: 16px !default;

/// The default amount of padding within columns in pixels.
/// @type Pixels
$columnPadding: 16px !default;

/// The maximum width of a row on the page.
/// @type Pixels | Percentage
$rowMaxWidth: 1220px !default;

/// The default direction in which to float content.
/// @type String
$defaultFloat: left;

/// The opposite float of `$defaultFloat`.
/// @type String
$switchFloat: right;