// @category variables

// @function icons
// Named icons that can be referenced with the icon() mixin and icon() function.
// @param $icons {List} The icon values represented as pairs with the icon name and its associated glyph.  [String String]
$icons: (
	arrowDown: "\e600",
	arrowUp: "\e601",
	checkboxChecked: "\e602",
	checkboxUnchecked: "\e603",
	radioChecked: "\e604",
	radioUnchecked: "\e605",
);