/// Named icons that can be referenced with the icon() mixin and icon() function.
/// @type Map
/// @prop {String} arrowDown ["\e600"]
/// @prop {String} arrowUp ["\e601"]
$icons: (
	arrowDown: "\e600",
	arrowUp: "\e601"
);