// Icon font variables map
// @param $icons {Map} Icon font values mapped to named keys

$icons: (
	arrow-down: "\e600",
	arrow-up: "\e601",
	checkbox-checked: "\e602",
	checkbox-unchecked: "\e603",
	radio-checked: "\e604",
	radio-unchecked: "\e605",
);