////
/// @group measurements
////

/// The default border radius for all form elements.
/// @type Pixels | Percentage
$formElementBorderRadius: 0px;

/// The default border radius for all widgets.
/// @type Pixels | Percentage
$widgetBorderRadius: 8px;

/// The height of form inputs.
/// @type Pixels
$inputHeight: 42px;
