/// Applies a clearfix to the applied container to combat the zero-height container problem.
/// @link https://css-tricks.com/snippets/css/clear-fix/
%clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

/// Defines defaults for column elements.
/// @group grid
%column-config {
	float: $defaultFloat;
	margin: 0;
	min-height: 1px;
	width: 100%;
}