// @category variables

// @function placeholders
// Global placeholders, such as clearfix, will exist here.
// @param $clearfix {Placeholder} Applies a clearfix to the applied container to combat the zero-height container problem.
%clearfix {
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}