/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$github-download-tar-grey: map-merge((
	x: 0px, 
	y: 0px, 
	offsetX: 0px, 
	offsetY: 0px, 
	width: 85px, 
	height: 65px, 
	totalWidth: 175px, 
	totalHeight: 170px, 
	src: '#{$imagesFolder}main-sprite.png', 
	name: 'github-download-tar-grey'
),());
$github-download-tar-red: map-merge((
	x: 90px, 
	y: 0px, 
	offsetX: -90px, 
	offsetY: 0px, 
	width: 85px, 
	height: 65px, 
	totalWidth: 175px, 
	totalHeight: 170px, 
	src: '#{$imagesFolder}main-sprite.png', 
	name: 'github-download-tar-red'
),());
$github-download-zip-grey: map-merge((
	x: 0px, 
	y: 70px, 
	offsetX: 0px, 
	offsetY: -70px, 
	width: 85px, 
	height: 65px, 
	totalWidth: 175px, 
	totalHeight: 170px, 
	src: '#{$imagesFolder}main-sprite.png', 
	name: 'github-download-zip-grey'
),());
$github-download-zip-red: map-merge((
	x: 90px, 
	y: 70px, 
	offsetX: -90px, 
	offsetY: -70px, 
	width: 85px, 
	height: 65px, 
	totalWidth: 175px, 
	totalHeight: 170px, 
	src: '#{$imagesFolder}main-sprite.png', 
	name: 'github-download-zip-red'
),());
$github-icon-download: map-merge((
	x: 0px, 
	y: 140px, 
	offsetX: 0px, 
	offsetY: -140px, 
	width: 30px, 
	height: 30px, 
	totalWidth: 175px, 
	totalHeight: 170px, 
	src: '#{$imagesFolder}main-sprite.png', 
	name: 'github-icon-download'
),());
$main-sheet-sprites: (
	$github-download-tar-grey,
	$github-download-tar-red,
	$github-download-zip-grey,
	$github-download-zip-red,
	$github-icon-download,
);

$main-sheet: map-merge((
	width: 175px, 
	height: 170px, 
	src: '#{$imagesFolder}main-sprite.png', 
	name: $main-sheet-sprites
),());


