/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$github-download-tar-grey-name: 'github-download-tar-grey';
$github-download-tar-grey-x: 255px;
$github-download-tar-grey-y: 30px;
$github-download-tar-grey-offset-x: -255px;
$github-download-tar-grey-offset-y: -30px;
$github-download-tar-grey-width: 85px;
$github-download-tar-grey-height: 65px;
$github-download-tar-grey-total-width: 370px;
$github-download-tar-grey-total-height: 290px;
$github-download-tar-grey-image: '#{$imagesFolder}compiled-sprite.png';
$github-download-tar-grey: (255px, 30px, -255px, -30px, 85px, 65px, 370px, 290px, '#{$imagesFolder}compiled-sprite.png', 'github-download-tar-grey', );
$github-download-tar-red-name: 'github-download-tar-red';
$github-download-tar-red-x: 170px;
$github-download-tar-red-y: 95px;
$github-download-tar-red-offset-x: -170px;
$github-download-tar-red-offset-y: -95px;
$github-download-tar-red-width: 85px;
$github-download-tar-red-height: 65px;
$github-download-tar-red-total-width: 370px;
$github-download-tar-red-total-height: 290px;
$github-download-tar-red-image: '#{$imagesFolder}compiled-sprite.png';
$github-download-tar-red: (170px, 95px, -170px, -95px, 85px, 65px, 370px, 290px, '#{$imagesFolder}compiled-sprite.png', 'github-download-tar-red', );
$github-download-zip-grey-name: 'github-download-zip-grey';
$github-download-zip-grey-x: 85px;
$github-download-zip-grey-y: 160px;
$github-download-zip-grey-offset-x: -85px;
$github-download-zip-grey-offset-y: -160px;
$github-download-zip-grey-width: 85px;
$github-download-zip-grey-height: 65px;
$github-download-zip-grey-total-width: 370px;
$github-download-zip-grey-total-height: 290px;
$github-download-zip-grey-image: '#{$imagesFolder}compiled-sprite.png';
$github-download-zip-grey: (85px, 160px, -85px, -160px, 85px, 65px, 370px, 290px, '#{$imagesFolder}compiled-sprite.png', 'github-download-zip-grey', );
$github-download-zip-red-name: 'github-download-zip-red';
$github-download-zip-red-x: 0px;
$github-download-zip-red-y: 225px;
$github-download-zip-red-offset-x: 0px;
$github-download-zip-red-offset-y: -225px;
$github-download-zip-red-width: 85px;
$github-download-zip-red-height: 65px;
$github-download-zip-red-total-width: 370px;
$github-download-zip-red-total-height: 290px;
$github-download-zip-red-image: '#{$imagesFolder}compiled-sprite.png';
$github-download-zip-red: (0px, 225px, 0px, -225px, 85px, 65px, 370px, 290px, '#{$imagesFolder}compiled-sprite.png', 'github-download-zip-red', );
$github-icon-download-name: 'github-icon-download';
$github-icon-download-x: 340px;
$github-icon-download-y: 0px;
$github-icon-download-offset-x: -340px;
$github-icon-download-offset-y: 0px;
$github-icon-download-width: 30px;
$github-icon-download-height: 30px;
$github-icon-download-total-width: 370px;
$github-icon-download-total-height: 290px;
$github-icon-download-image: '#{$imagesFolder}compiled-sprite.png';
$github-icon-download: (340px, 0px, -340px, 0px, 30px, 30px, 370px, 290px, '#{$imagesFolder}compiled-sprite.png', 'github-icon-download', );
$spritesheet-width: 370px;
$spritesheet-height: 290px;
$spritesheet-image: '#{$imagesFolder}compiled-sprite.png';
$spritesheet-sprites: ($github-download-tar-grey, $github-download-tar-red, $github-download-zip-grey, $github-download-zip-red, $github-icon-download, );
$spritesheet: (370px, 290px, '#{$imagesFolder}compiled-sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
