////
/// Default transition properties to be used with the transition mixin.
/// @group transitions
////

/// The amount of time for the transition to take.
/// @type Time
$transitionDuration: 0.3s;

/// The easing function to use with the transition.
/// @type String
$transitionEasing: linear;

/// The amount of time to delay the transition.
/// @type Time
$transitionDelay: 0s;