//- Define document options default values or behaviors
//- Note: Global vars need to be conditions for empty cases
block options

if !docTitle
	- docTitle = 'Phoenix by Connective DX';

if !bodyClass
	- bodyClass = '';
