html {
	font: $baseFontPercentage $baseFontFamily;
}

body {
	background: $white;
	color: $black;
	min-width: 0;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	width: 100%;
}

// typography
a {
	color: $black;

	&:hover {
		color: $lightGrey;
	}
}

p {
	line-height: $lineHeight;
	margin: em(12) 0 0;

	&:first-child {
		margin-top: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1;
	margin-top: 0;

	&:first-child {
		margin-top: 0;
	}
}
h1 {
	@include font-size(42);
	margin-bottom: em(11, 42);
	margin-top: em(11, 42);

	@include respond(tabletPortrait) {
		@include font-size(52);
		margin-bottom: em(14, 52);
	}
}
h2 {
	@include font-size(36);
	margin-bottom: em(10, 36);
	margin-top: em(10, 36);

	@include respond(tabletPortrait) {
		@include font-size(42);
		margin-bottom: em(11, 42);
	}
}
h3 {
	@include font-size(30);
	margin-bottom: em(8, 30);
	margin-top: em(8, 30);
}
h4 {
	@include font-size(26);
	margin-bottom: em(7, 26);
	margin-top: em(7, 26);
}
h5 {
	@include font-size(18);
	margin-bottom: em(5, 18);
	margin-top: em(5, 18);
}
h6 {
	@include font-size(16);
	margin-bottom: em(4, 16);
	margin-top: em(4, 16);
}
// selection colors cannot be combined into one selector as per:
// http://www.briangardner.com/tutorials/text-selection-color/
::-moz-selection {
	background: $black;
	color: $white;
}
::selection {
	background: $black;
	color: $white;
}

// lists
ul, ol {
	line-height: $lineHeight;
	margin: em(10) 0 0;
	padding: 0;

	&.plain {
		list-style-image: none;
		list-style: none;
		margin-left: 0;
		text-align: left;

		.no-svg & {
			list-style-image: none;
			list-style: none;
			margin: 0;
		}
	}

	ul {
		@include svg-image(list-circle-warm-brown, list-style-image);
		margin-left: em(18);
		margin-top: 0;
	}
}
ul {
	@include svg-image(list-dot-modern-aqua, list-style-image);
}
dd {
	line-height: $lineHeight;
	margin: 0;
}

// Default form styles
fieldset {
	border: none;
	margin: em(12) 0 0;
	padding: 0;

	&:first-child,
	&.flush {
		margin-top: 0;
	}

	legend {
		display: none;
	}

	ol {
		list-style-type: none;
		margin: 0;
	}

	li {
		margin-top: em(12);
		// overflow is set due to an iOS6 bug related to the usage of the placeholder attribute
		// http://stackoverflow.com/questions/12515058/ios6-safari-orientation-change-bug
		overflow: hidden;

		&:first-child {
			margin-top: 0;
		}
	}

	label,
	label + select {
		display: block;
	}

	input[type="text"],
	input[type="number"],
	input[type="password"],
	input[type="email"],
	input[type="tel"] {
		// height is set explicitly in pixels to match the custom selects
		height: 36px;
	}

	input[type="text"],
	input[type="number"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	textarea {
		@include box-sizing();
		border-radius: $buttonBorderRadius;
		max-width: 100%;
		padding: em(8);
		width: 100%;
	}

	& + button {
		margin-top: em(12);
	}
}

// tables
table {
	@include font-size(12);
	width: 100%;

	th {
		vertical-align: middle;
	}

	th, td {
		padding: em(8);
		text-align: center;
	}

	// zebra striping code needs to repeat because IE < 8 will ignore the code if an nth-child selector is in it
	tr:nth-child(2n) {
		> td {
			background-color: $lightGrey;

			&.empty,
			&.plain {
				background-color: transparent;
			}
		}
	}
	tr.even {
		> td {
			background-color: $lightGrey;

			&.empty,
			&.plain {
				background-color: transparent;
			}
		}
	}

	@include respond(tabletPortrait) {
		@include font-size(14);
	}
}

// media
img, object, embed {
	max-width: 100%;
	height: auto;
}

img {
	-ms-interpolation-mode: bicubic;
}

.accessibility {
	height:0;
	left:-9999em;
	line-height:0;
	position:absolute;
	text-indent:-9999em;
}