html {
	font: $baseFontPercentage $baseFontFamily;
}

body {
	background: $white;
	color: $black;
	min-width: 0;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	width: 100%;
}

@import "defaults/forms";
@import "defaults/lists";
@import "defaults/media";
@import "defaults/tables";
@import "defaults/typography";
@import "defaults/utility";