// @category variables

// @function breakpoints
// @param $breapoints {List} The breakpoints for all resolutions represented as pairs with the breakpoint name and its associated pixel width.  [String px]
// @param $documentWidth {Number} The maximum width of documents.  This defaults to the value of $rowMaxWidth.  [px|percentage]
// @param $maxDeviceWidth {Number} The maximum width device width supported.  [px]
$breakpoints: (
	breakpointExtraSmall 320px,
	breakpointSmall 480px,
	breakpointMedium 768px,
	breakpointLarge 960px,
	breakpointExtraLarge 1220px
);
$documentWidth: $rowMaxWidth;
$maxDeviceWidth: 2880px;