// primary palette
$white: #ffffff;
$black: #000000;
$lightGrey: #eeeeee;

// secondary / extended

// miscellaneous
$tooltipBackgroundColor: $black;
$tooltipTextColor: $white;
$tooltipShadowColor: $black;
$visibleGridColumnColor: rgba(255, 0, 0, 0.25);
$visibleGridGutterColor: rgba(255, 243, 54, 0.25);