// @category variables

// @function colors
// The color palette for the project.
// @param $colorPrimary {Color} The color palette's primary color.
// @param $colorSecondary {Color} The color palette's secondary color.
// @param $colorTertiary {Color} The color palette's tertiary color.
// @param $lightGrey {Color} A light grey intended for use as a shaded background color.
// @param $mediumGrey {Color} A medium grey intended for use as a border or accent color in conjunction with $lightGrey.
// @param $darkGrey {Color} A dark grey intended for us as a text or border color in conjunction with $lightGrey or $mediumGrey.
$colorPrimary: #1177bb;
$colorSecondary: #ffaa00;
$colorTertiary: #cc6633;
$lightGrey: #eeeeee;
$mediumGrey: #cccccc;
$darkGrey: #6d6d6d;