// @category variables

// @function grid
// The properties of the grid system to be used.
// @param $gutterInPx {Number} The default gutter size in pixels.  [px]
// @param $secondaryGutterInPx {Number} A secondary gutter size in pixels.  [px]
// @param $rowMaxWidth {Number} The maximum width of a row on the page.  This should be a multiple of the below variable $cols.  [px]
// @param $cols {Number} The number of columns in the grid system.  [integer]
// @param $hybridCols {Number} The number of columns in the hybrid grid system.  [integer]
// @param $defaultFloat {String} The default direction in which to float content.
// @param $switchFloat {String} The opposite float of $defaultFloat.
$gutterInPx: 20px !default;
$secondaryGutterInPx: 20px !default;
$rowMaxWidth: 960px !default;
$cols: 16 !default;
$hybridCols: 16 !default;
$defaultFloat: left;
$switchFloat: right;