// @category variables

// @function measurements
// Various measurements used throughout the project.
// @param $formElementBorderRadius {String} The default border radius for all form elements. [pixels|percentage]
// @param $badgeBorderRadius {String} The default border radius for all badge elements. [pixels|percentage] 
// @param $widgetBorderRadius {String} The default border radius for all widgets.  [pixels|percentage]
$formElementBorderRadius: 0px;
$badgeBorderRadius: 8px;
$widgetBorderRadius: 8px;