// Grid Settings
$gutterInPx: 20px !default;
$gutterInteger: $gutterInPx / 1px;
$smallGutterInPx: 20px !default;
$rowMaxWidth: 960px !default;
$rowMaxWidthInteger: $rowMaxWidth / 1px;
$cols: 16 !default;
$hybrid: 16 !default;

// Responsive Settings
$minDeviceWidth: 320;
$phoneLandscapeWidth: 480;
$tabletPortraitWidth: 768;
$documentWidth: $rowMaxWidthInteger;
$maxDeviceWidth: 2880;

// Floats
$defaultFloat: left;
$switchFloat: right;

// Form elements
$buttonBorderRadius: 4px;
$badgeBorderRadius: 8px;
$widgetBorderRadius: 8px;
$tooltipArrowSize: 8px;
$tooltipPadding: 5px;