$enableCentered: true;
$enablePush: true;
$enablePull: true;
$enableHybrid: true;
$enabledColumns: ();	// comma separated value list of column widths you want to support; set to () to include all possible columns
$enableGrid: true;
$enableColgridImage: true;