$iconArrowDown: "\e600";
$iconArrowUp: "\e601";

[class^="icon-"], [class*=" icon-"] {
	font-family: $iconFontFamily;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: $iconArrowDown;
}

.icon-arrow-up:before {
	content: $iconArrowUp;
}