ul, ol {
	list-style-position: inside;
	margin: em(10) 0 0;
	padding: 0;

	&.plain {
		list-style-image: none;
		list-style: none;
		margin-left: 0;
		text-align: left;

		.no-svg & {
			list-style-image: none;
			list-style: none;
			margin: 0;
		}
	}

	ul {
		margin-left: em(18);
		margin-top: 0;
	}
}
dd {
	margin: 0;
}