////
/// @group grid
////

// Change $gutterWidth to a percentage
@if unit($gutterWidth) == 'px' {
	$gutterWidth: percentage($gutterWidth / $rowMaxWidth);
}

/// Calculates the width of a single column.
/// @param {String} $columns [$columns] - The total number of columns in the grid to use as the basis of a single column width.
/// @param {Boolean} $includeGutterWidth [true] - Whether or not the column width will include the gutter width in its calculation.
/// @return {Percentage} The width of a single column.
@function oneColumn($options: ()) {
	$options: map-merge((
		columns: $columns,
		includeGutterWidth: true
	), $options);

	$columns: map-get($options, columns);

	@if map-get($options, includeGutterWidth) == true {
		@return (100% - ($columns - 1) * $gutterWidth) / $columns;
	}
	@else {
		@return 100% / $columns;
	}
}

/// Calculates the width of n columns.
/// @param {Number} $n - The number of columns for which you wish to calculate the width.
/// @param {Boolean} $includeGutterWidth [true] - Whether or not the column width will include the gutter width in its calculation.
/// @return {Percentage} The width of n columns.
@function columns($n, $options: ()){
	$options: map-merge((
		includeGutterWidth: true
	), $options);

	$columnWidth: oneColumn($options) * $n;

	@if map-get($options, includeGutterWidth) == true {
		$columnWidth: $columnWidth + ($gutterWidth * ($n - 1));
	}

	@return $columnWidth;
}

/// Calculates margin to position column within the grid system.
/// @param {Number} $n - The column position in which you wish to position an element.
/// @param {Boolean} $includeGutterWidth [true] - Whether or not the column will include the gutter width in its position.
/// @return {Percentage} The position in percentage width of the parent container.
@function columnPosition($n, $options: ()) {
	$options: map-merge((
		includeGutterWidth: true
	), $options);

	// re-index to 0-based for proper margin calculations
	$n: $n - 1;

	$position: columns($n, $options);

	@if map-get($options, includeGutterWidth) == true {
		$position: $position + $gutterWidth;
	}

	@return $position;
}

/// Calculates the margin to properly center an element.
/// @param {Number} $n - The width (in columns) of the element being centered.
/// @return {Percentage} The margin necessary to center an element.
@function centered($n, $options: ()) {
	@return 50% - (columns($n, $options) / 2);
}

/// Create class names from column count integers.
/// @param {Integer} $n - The number of columns.
/// @return {String} A word representation of the number of columns requested.
@function number-as-word($n) {
	$words: "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen", "twenty", "twenty-one", "twenty-two", "twenty-three", "twenty-four", "twenty-five", "twenty-six", "twenty-seven", "twenty-eight", "twenty-nine", "thirty", "thirty-one", "thirty-two", "thirty-three", "thirty-four", "thirty-five", "thirty-six";

	@return nth($words, $n);
}