// @category functions

// @function image
// Simplifies image import
// @param $imageName {String} The image's filename.
// @param $directory {String} The folder or path in which the image is found. Default value: $imagesFolder.
// @return {String} The compiled url()
// @usage
// =image('feed.png') will return url('../img/css/feed.png') if $imagesFolder is '../img/css/'
// =image('feed.png', (directory: '../img/css/')) will return url('../img/css/feed.png')
@function image($imageName, $options: ()) {
	$options: map-merge((
		directory: $imagesFolder
	), $options);

	$directory: map-get($options, directory);

	$imageName: unquote($imageName);
	$directory: unquote($directory);

	@return url('#{$directory}#{$imageName}');
}