$iconArrowDown: "\e600";
$iconArrowUp: "\e601";
$iconFontFamily: 'icomoon';

@mixin icon() {
	font-family: $iconFontFamily;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
}

[class^="icon-"], [class*=" icon-"] {
	@include icon();
}

.icon-arrow-down:before {
	content: $iconArrowDown;
}

.icon-arrow-up:before {
	content: $iconArrowUp;
}