%button-config {
	border-radius: $formElementBorderRadius;
	border-style: none;
	color: white;
	display: inline-block;
	@include font-size(18);
	margin-right: em(5, (context: 18));
	padding: em(6 12, (context: 18));
	text-align: center;
	text-decoration: none;
	@include transition((property: background-color));

	// media mixin is used here instead of inside above selector due to @extend bug of libsass
	@include media(breakpoint768) {
		+ button,
		+ .btn {
			margin-top: 0;
		}
	}

	&.btn-full-width {
		display: block;
		margin-right: 0;
		margin-top: em(16);

		&:first-child {
			margin-top: 0;
		}
	}

	&.btn-small {
		@include font-size(14);
		padding: em(6 12, (context: 14));
	}

	// sibling buttons may be too wide on low resolutions and wrap to multiple lines
	+ button,
	+ .btn {
		margin-top: em(5);
	}
}

button,
.btn {
	@extend %button-config;
	background-color: color(primary);
	border: 1px solid darken(color(primary), 10%);

	@include media(print) {
		display: none;
	}

	&:hover,
	&:active,
	&:focus {
		background-color: lighten(color(primary), 10%);
		color: white;
	}
}

.btn-secondary {
	@extend %button-config;
	background-color: color(secondary);
	border: 1px solid darken(color(secondary), 10%);
	color: black;

	@include media(print) {
		display: none;
	}

	&:hover,
	&:active,
	&:focus {
		background-color: lighten(color(secondary), 10%);
		color: black;
	}
}