/***
 * Callouts:
 */

/**
 * Callout:
 * `.callout`
 * <p>Class used for calling out a specific portion of the page.</p>
 *
 *		@example
 *		<div class="callout"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, pariatur, accusantium. Esse dolorum quae adipisci, fugiat vel voluptates dolorem animi sapiente quam deserunt incidunt ex eveniet, similique maiores eos, distinctio.</p></div>
 *
 */
.callout {
	background: color(greyLight);
	margin-top: em(10);
	padding: $columnPadding;

	&:first-child {
		margin-top: 0;
	}
}