/***
 * Modals:
 */

/**
 * Fancybox Modals:
 * `.fancybox`
 * <p>A responsive modal system that can display content via AJAX, within iframes, or inline. Uses the <a href="http://fancyapps.com/fancybox/">Fancybox</a>&nbsp;jQuery plugin.</p>
 *
 *		@example
 *		<ul>
 *			<li>
 *				<a href="http://www.youtube.com/embed/sVxT0vrHeyM" class="fancybox fancybox.iframe">Fancybox - YouTube (iframe)</a>
 *			</li>
 *		</ul>
 *
 */

// fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license
// SCSS adapted from https://github.com/fancyapps/fancyBox/blob/master/source/jquery.fancybox.css
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	border: 0;
	margin: 0;
	outline: none;
	padding: 0;
	vertical-align: top;
}

.fancybox-wrap {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 8020;
}

.fancybox-skin {
	background: #f9f9f9;
	border-radius: 4px;
	color: #444;
	position: relative;
	text-shadow: none;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	height: 100%;
	width: 100%;
}

.fancybox-image {
	max-height: 100%;
	max-width: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	@include retina-image('fancybox-sprite.png', (backgroundSize: 44px 152px));
}

#fancybox-loading {
	background-position: 0 -108px;
	cursor: pointer;
	left: 50%;
	margin-left: -22px;
	margin-top: -22px;
	opacity: 0.8;
	position: fixed;
	top: 50%;
	z-index: 8060;
}

#fancybox-loading div {
	@include retina-image('fancybox-loading.gif', (backgroundSize: 24px 24px));
	background-position: center center;
	background-repeat: no-repeat;
	height: 44px;
	width: 44px;
}

.fancybox-close {
	cursor: pointer;
	height: 36px;
	position: absolute;
	right: -18px;
	top: -18px;
	width: 36px;
	z-index: 8040;
}

.fancybox-nav {
	background: transparent image('fancybox-blank.gif'); /* helps IE */
	cursor: pointer;
	height: 100%;
	position: absolute;
	text-decoration: none;
	top: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 40%;
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	cursor: pointer;
	height: 34px;
	margin-top: -18px;
	position: absolute;
	top: 50%;
	visibility: hidden;
	width: 36px;
	z-index: 8040;
}

.fancybox-prev span {
	background-position: 0 -36px;
	left: 10px;
}

.fancybox-next span {
	background-position: 0 -72px;
	right: 10px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	left: -99999px;
	max-height: 99999px;
	max-width: 99999px;
	overflow: visible !important;
	position: absolute;
	top: -99999px;
	visibility: hidden;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden !important;
	width: auto;
}

.fancybox-lock body {
	overflow: hidden !important;
}

.fancybox-lock-test {
	overflow-y: hidden !important;
}

.fancybox-overlay {
	background: image('fancybox-overlay.png');
	display: none;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 8010;
}

.fancybox-overlay-fixed {
	bottom: 0;
	position: fixed;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	visibility: hidden;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	bottom: 0;
	margin-bottom: -35px;
	position: absolute;
	right: 50%;
	text-align: center;
	z-index: 8050;
}

.fancybox-title-float-wrap .child {
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	display: inline-block;
	font-weight: bold;
	line-height: 24px;
	margin-right: -100%;
	padding: 2px 20px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	color: #fff;
	margin-top: 10px;
	position: relative;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	background: #000;
	background: rgba(0, 0, 0, .8);position: absolute;
	bottom: 0;
	color: #fff;
	left: 0;
	padding: 10px;
}