// @category modules

// @function forms
// Custom-styled form elements, including selects, checkboxes, and radio buttons.

// IE9 and newer supported; IE8 and lower will have standard form elements
// :not() targets > IE8, #foo is just a random ID
fieldset:not(#foo) {
	input[type="radio"],
	input[type="checkbox"] {
		float: left;
		height: 1px;
		margin: 0;
		opacity: 0;
		padding: 0;
		width: 1px;

		& + label {
			clear: none;
			display: block;
			padding: em(6) em(5) em(4) em(27);

			&:before {
				@extend %icon-config-modern-browsers;
				margin-left: em(-28);
				margin-right: em(8);
			}

			&.inline {
				display: inline-block;
			}
		}
	}

	input[type="radio"] {
		& + label {
			&:before {
				content: $iconRadioUnchecked;
			}
		}
		&:active + label,
		&:focus + label {
			color: $colorPrimary;
		}
		&:checked + label {
			&:before {
				content: $iconRadioChecked;
			}
		}
	}

	input[type="checkbox"] {
		& + label {
			&:before {
				content: $iconCheckboxUnchecked;
			}
		}
		&:active + label,
		&:focus + label {
			color: $colorPrimary;
		}
		&:checked + label {
			&:before {
				content: $iconCheckboxChecked;
			}
		}
	}
}

.oldie {
	fieldset {
		input[type='radio'],
		input[type='checkbox'] {
			& + span {
				margin-left: em(4);
				min-height: 20px;
			}
		}
	}
}

fieldset {
	label {
		&.inline {
			display: inline-block;
			padding-right: 5px;
		}
	}
}

// selects
$decoratorSelectBorderSize: 1px;

.decorator-select {
	@include gradient((from: $colorGreyLight, to: $colorGreyMedium));
	background-size: 100%;
	border: $decoratorSelectBorderSize solid $colorGreyMedium;
	border-radius: $formElementBorderRadius;
	display: inline-block;
	height: auto;
	overflow: hidden;
	position: relative;
	width: 100%;

	&:after {
		content: image('bg-select-arrow.png');
		height: $inputHeight - (2 * $decoratorSelectBorderSize);	// the content image's height should fit within the confines of the input's height
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;

		.oldie & {
			content: '';
		}
	}

	select {
		-webkit-appearance: none;
		background: transparent;
		border: none;
		color: black;
		display: block;
		height: $inputHeight - (2 * $decoratorSelectBorderSize);
		outline: none;
		padding: 6px 10px 6px 10px;
		position: relative;
		width: 100%;
	}
}

// multiple selects
.decorator-select-multiple {
	@include gradient($colorGreyLight, $colorGreyMedium);
	border: $decoratorSelectBorderSize solid $colorGreyMedium;
	border-radius: $formElementBorderRadius;
	display: inline-block;
	width: 100%;

	select {
		-webkit-appearance: none;
		background: transparent;
		border: none;
		color: black;
		display: block;
		min-height: $inputHeight - (2 * $decoratorSelectBorderSize);
		outline: none;
		padding: 6px 10px 6px 10px;
		position: relative;
		width: 100%;
	}
}

.custom-file-upload {
	.no-js & {
		display: none;
	}
}

input[type="file"] {
	.js & {
		visibility: hidden;
		width: 0px;
	}
}
