// @category modules

// @function navigation
// Styles related to the site's navigation.
.nav-handle {
	background-color: black;
	color: white;
	cursor: pointer;
	display: block;
	@include font-size(24);
	margin: (-$columnPadding) (-$columnPadding) 0 (-$columnPadding);	// need parentheses around -$columnPadding to compile correctly
	padding: em(12, 24);

	@include media(breakpointMedium) {
		display: none;
	}
}

.brand {
	@include column(7, true);
	@include pull(5, 7);
}

#nav {
	@include column(5, true);
	@include push(7);
}

.nav-list {
	background-color: black;
	list-style: none;
	margin: 0 (-$columnPadding);
	max-height: 0;
	overflow: hidden;
	@include transition(max-height, 0.5s, ease-in-out);

	&.expanded {
		max-height: rem(500);
	}

	a {
		color: white;
		display: block;
		padding: em(12);

		&:hover {
			color: $colorGreyMedium;
		}
	}

	@include media(breakpointMedium) {
		background-color: transparent;
		max-height: none;
		padding: em(16) $columnPadding;
		text-align: right;

		li {
			display: inline-block;
			margin-left: em(16);

			&:first-child {
				margin-left: 0;
			}
		}

		a {
			color: black;
			padding: 0;
		}
	}
}