.accessibility {
    height: 0;
    left: -999em;
    line-height: 0;
    position: absolute;
}

.browser-alert {
	background-color: color(primary);
	color: white;
	@include font-size(24);
	padding: em(16);
	text-align: center;

	a {
		color: color(greyLight);
	}
}

.img-align-center {
	display: block;
	margin: 0 auto;
}

.img-full-width {
	display: block;
	width: 100%;
}

.map-container {
	@include aspect-ratio(4, 3, (selector: iframe));

	img {
		max-width: none; // resets map controls
	}
}

.video-container {
	@include aspect-ratio(16, 9, (selector: iframe));
}