/***
 * Utility Classes:
 */

/**
 * Accessibility:
 * `.accessibility`
 * <p>Visually hides content but allows it to remain accessible to screen readers and other non-visual browsing devices.</p>
 *
 *		@example
 *		<p>This sentence is followed by a span with the accessibility class applied to it. <span class="accessibility">I'm visually hidden but still available for scree readers.</span></p>
 *
 */
.accessibility {
    height: 0;
    left: -999em;
    line-height: 0;
    position: absolute;
}

.img-align-center {
	display: block;
	margin: 0 auto;
}

.img-full-width {
	display: block;
	width: 100%;
}

/**
 * Maps:
 * `.map-container`
 * <p>Responsive map container for maintaining aspect ratio on all resolutions.</p>
 *
 *		@example
 *		<h3>Map with 4:3 aspect ratio</h3>
 *		<div class="map-container">
 *			<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1397.4432998107925!2d-122.69317991642879!3d45.532487514497674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sisite+design!5e0!3m2!1sen!2sus!4v1391532768363" frameborder="0" style="border:0"></iframe>
 *		</div>
 *
 */
.map-container {
	@include aspect-ratio(4, 3);

	img {
		max-width: none; // resets map controls
	}
}

/**
 * Videos:
 * `.video-container`
 * <p>Responsive video container for maintaining aspect ratio on all resolutions.</p>
 *
 *		@example
 *		<h3>Video with 16:9 aspect ratio</h3>
 *		<div class="video-container">
 *			<iframe src="//www.youtube.com/embed/Xz6jt_aSFg0" frameborder="0" allowfullscreen=""></iframe>
 *		</div>
 *
 */
.video-container {
	@include aspect-ratio(16, 9);
}