header
	div(class='row')
		div(class='eight columns centered' style='border: none;')
			a(href='index.php')
				img(src='Assets/dist/img/content/logo-placeholder.png' srcset='Assets/dist/img/content/logo-placeholder@2x.png 2x' alt='Phoenix by Connective DX' class='img-align-center')