/* Basic browser reset */
body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dd,dt,blockquote,fieldset,legend,form { margin:0;padding:0;border:0; }
html,input,textarea,select { font-size: 100% } /* keep ie happy */

body 					{ font: 75%/1.335 Arial, Helvetica, sans-serif; overflow:hidden; }
h1, h2, h3, h4, h5, h6	{ font-weight: normal; margin: 0 0 .25em 0;}

h1	{ font-size: 2em; } 	/* 24px */
h2	{ font-size: 1.665em; } /* 20px */
h3	{ font-size: 1.415em; } /* 17px */
h4	{ font-size: 1.25em; } 	/* 15px */
h5	{ font-size: 1em; } 	/* 12px; */
h6	{ font-size: .9175em; } /* 11px; */

p				{ margin-bottom: 1em; }
abbr,acronym	{ border-bottom: 1px dotted #999; cursor: help; }
ul, ol 			{ margin: 0 0 1em 3em; }
table			{ border-collapse: collapse; }
th, td			{ border: 1px solid #ccc; padding: .5em;  }


/* temp for layout purposes*/
div		{ background-color: rgba(200,200,200, .4); border: 1px solid #aaa; border-width: 1px 0px;} 
body 	{ height:100%;  }
#wrapper	{border-right: 1px solid #ccc;}
#secondary, #tertiary	{ background-color: rgba(180,180,180, .4);} 
/* end temp for layout purposes*/



/*----------------------------------- Site Structure --------------------*/
#template-options {
	float:left;
	height:100%;
	margin:65px 0 0;
	overflow-x:hidden;
	overflow-y:scroll;
	width:15%; 
}
	#main > ol { margin:0; }
	#main > ol ol { 
		float:left; 
		margin:1em; 
		width:90%; 
	}
	
	#main li:last-child { margin-bottom:0; }
	#main li { cursor:pointer; }
	
#constructor-preview { 
	border:none;
	float:left;
	height:100%;
	width:85%;
}


/*----------------------------------- Type, Links and Lists----------*/
a, a:visited		{ color: #00f; }
a:hover, a:focus 	{ color: #999; }

/*---------------------------------- Navigation --------------------*/

/*----------------------------------- Forms -------------------------*/

fieldset ol, fieldset ol ul {
	list-style-type: none;

}
fieldset li {
    margin-bottom: 1em;
}
input, select, textarea, label, button {
    display: block;
}
label input {
	display: inline;
}

button {
    cursor: pointer;
}

#main > legend { 
	border-bottom:1px #222 solid;
	background:#ccc;
	left:0;
	position:absolute; 
	top:0;
	width:15%; 
}
	#main > legend span { display:block; padding:15px; }

#main fieldset legend + ol { display:none; }
#main fieldset legend { background:#222; color:#fff; width:100%;}
#main fieldset legend.open + ol { display:block; }
#main fieldset legend:before {
	content:'+';
	background:#222;
	color:#fff;
	display:inline-block;
	height:25px;
	text-align:center;
	line-height: 25px;
	width:25px;
}
#main fieldset legend.open:before {
	content:'-';
}
/*----------------------------------- Randoms/dev utility styles ---*/
.accessibility { height:0;left:-9999em;line-height:0;position:absolute;text-indent:-9999em; }

.small 			{ width: 25%; }
.medium 		{ width: 48%; }
.large 			{ width: 90%; }
.error, .red 	{ color: red; }


/* there's always a better way than using these. */
.hide			{ display: none; }
.left 			{ float: left; margin: 10px 5px 10px 0; }
* html .left 	{ margin-right: 0; }
.right 			{ float: right; }
.clear 			{ clear: both; }
.clearleft 		{ clear: left; }
.clearright 	{ clear: right; }
.loading-indication { background:url(../img/css/loading-indicator.gif) center no-repeat; opacity:.2; }
