include ../variables/all.jade
include ../mixins/all.jade

title #{docTitle}
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='robots' content='index, follow')
meta(name='description' content='')
meta(name='keywords' content='')
meta(name='author' content='Connective DX')
meta(name='apple-mobile-web-app-title' content='Phoenix')

script(src='Assets/dist/js/head.js')
link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')
link(rel='stylesheet' media='all' href='Assets/dist/css/style.css')
	
<!-- Serve one icon for all Apple devices -->
link(rel='apple-touch-icon-precomposed' href='Assets/dist/img/content/touch-icon.png')
<!-- icon and tile color in hex # for Windows phones -->
meta(name='msapplication-TileImage' content='Assets/dist/img/content/touch-icon.png')
meta(name='msapplication-TileColor' content='#e55030')
<!-- For everything else -->
link(rel='icon' type='image/png' href='Assets/dist/img/content/favicon.png')
<!--[if IE]>
link(rel='shortcut icon' href='/favicon.ico')
<![endif]-->