@import "variables/all";

@import "functions/all";

@import "mixins/all";

@import "base/all";

@import "layout/all";

@import "modules/all";

.doc-header {
	color: white;
	max-width: none;
	padding: 0;
	position: relative;
}

.doc-project-title {
	display: table-cell;
	vertical-align: middle;
}

.doc-downloads {
	display: none;
	&:before {
		content: "";
		display: block;
		@include sprite($github-icon-download);
		position: absolute;
	}
	@include media(breakpointMedium) {
		bottom: -40px;
		display: block;
		height: 70px;
		position: absolute;
		right: em($columnPadding);
		width: 210px;
		z-index: 10;
	}
}

.fork-me {
	max-width: 100px;
	position: absolute;
	right: 0;
	top: 0;

	> img {
		border: 0;
	}

	@include media(breakpointMedium) {
		max-width: none;
	}

	@include media(print) {
		display: none;
	}
}

%download-link-config {
	display: block;
	float: right;
	height: 70px;
	overflow: hidden;
	text-indent: -5000px;
	width: 90px;
}

.tar-download-link {
	@extend %download-link-config;
	@include sprite($github-download-tar-red);
	margin-left: 10px;

	&:hover {
		@include sprite($github-download-tar-grey);
	}
}

.zip-download-link {
	@extend %download-link-config;
	@include sprite($github-download-zip-red);

	&:hover {
		@include sprite($github-download-zip-grey);
	}
}

.doc-callout {
	padding: $columnPadding / 2;

	&.divider {
		padding-top: $columnPadding * 2;
	}
}

.doc-usage {
	margin-top: $columnPadding;
}

.doc-footer {
	background-color: color(primary);
	color: white;
	max-width: none;

	a {
		color: white;

		&:hover,
		&:active,
		&:focus {
			color: color(greyMedium);
		}
	}
}
