.wrapper {
	@include row((padding: 0));
}

// semantic grid
.layout-primary,
.layout-centered {
	border: 1px dashed color(primary);
}

.layout-secondary,
.layout-tertiary {
	background-color: color(secondary);
}

.layout-primary,
.layout-secondary,
.layout-tertiary {
	@include transition();
	@include column(12, (includeGutterWidth: false));
}

.layout-centered {
	@include column(12, (includeGutterWidth: false));

	@include media(breakpoint768) {
		@include column(8, (centered: true, includeGutterWidth: false));
	}
}

.template-two-column {
	&.not-shifted {
		&.no-gutters {
			.layout-primary {
				@include media(breakpoint768) {
					@include column(9, (includeGutterWidth: false));
				}
			}

			.layout-secondary {
				@include media(breakpoint768) {
					@include column(3, (includeGutterWidth: false));
				}
			}
		}

		&.gutters {
			.layout-primary {
				@include media(breakpoint768) {
					@include column(9);
				}
			}

			.layout-secondary {
				@include media(breakpoint768) {
					@include column(3);
				}
			}
		}
	}

	&.shifted {
		&.no-gutters {
			.layout-primary {
				@include media(breakpoint768) {
					@include column(9, (includeGutterWidth: false, position: 4));
				}
			}

			.layout-secondary {
				@include media(breakpoint768) {
					@include column(3, (includeGutterWidth: false, position: 1));
				}
			}
		}

		&.gutters {
			.layout-primary {
				@include media(breakpoint768) {
					@include column(9, (position: 4));
				}
			}

			.layout-secondary {
				@include media(breakpoint768) {
					@include column(3, (position: 1));
				}
			}
		}
	}
}

.template-three-column {
	&.not-shifted {
		&.no-gutters {
			.layout-primary {
				@include media(breakpoint768) {
					@include column(6, (includeGutterWidth: false));
				}
			}

			.layout-secondary {
				@include media(breakpoint768) {
					@include column(3, (includeGutterWidth: false));
				}
			}

			.layout-tertiary {
				@include media(breakpoint768) {
					@include column(3, (includeGutterWidth: false));
				}
			}
		}

		&.gutters {
			.layout-primary {
				@include media(breakpoint768) {
					@include column(6);
				}
			}

			.layout-secondary {
				@include media(breakpoint768) {
					@include column(3);
				}
			}

			.layout-tertiary {
				@include media(breakpoint768) {
					@include column(3);
				}
			}
		}
	}

	&.shifted {
		&.no-gutters {
			.layout-primary {
				@include media(breakpoint768) {
					@include column(6, (includeGutterWidth: false, position: 4));
				}
			}

			.layout-secondary {
				@include media(breakpoint768) {
					@include column(3, (includeGutterWidth: false, position: 1));
				}
			}

			.layout-tertiary {
				@include media(breakpoint768) {
					@include column(3, (includeGutterWidth: false, position: 10));
				}
			}
		}

		&.gutters {
			.layout-primary {
				@include media(breakpoint768) {
					@include column(6, (position: 4));
				}
			}

			.layout-secondary {
				@include media(breakpoint768) {
					@include column(3, (position: 1));
				}
			}

			.layout-tertiary {
				@include media(breakpoint768) {
					@include column(3, (position: 10));
				}
			}
		}
	}
}

// complex layout
.layout-complex-wrapper {
	@include row((padding: 0, maxWidth: 100%));
}

.layout-complex-primary {
	@include column(12, (includeGutterWidth: false));
	border: 1px dashed color(primary);

	@include media(breakpoint768) {
		@include column(7, (includeGutterWidth: false));
	}

	@include media(breakpoint960) {
		@include column(6, (includeGutterWidth: false));
	}
}

.layout-complex-nav {
	@include column(12, (includeGutterWidth: false));
	background-color: color(secondary);

	@include media(breakpoint1220) {
		@include column(1.5, (includeGutterWidth: false));
	}
}

.layout-complex-tertiary {
	@include column(12, (includeGutterWidth: false));
	background-color: color(secondary);

	@include media(breakpoint768) {
		@include column(5, (includeGutterWidth: false));
	}

	@include media(breakpoint960) {
		@include column(3, (includeGutterWidth: false));
	}
}

.layout-complex-footer {
	@include column(12, (includeGutterWidth: false));

	@include media(breakpoint960) {
		@include column(3, (includeGutterWidth: false));
	}

	@include media(breakpoint1220) {
		@include column(1.5, (includeGutterWidth: false));
	}
}

.nested,
aside {
	@include row((nested: true));
}