// @category layout

// @function content
// The location to define major column layouts for your main content area.
.wrapper {
	@include row((padding: 0));
}

// standard grid
.layout-primary,
.layout-primary-pushed {
	border: 1px dashed $colorPrimary;
}

.layout-primary {
	@include column(6);
}

.layout-primary-pushed {
	@include column(6, (shifted: true));
	@include push(3, (firstChild: true));
}

.layout-secondary,
.layout-secondary-pulled {
	background-color: $colorSecondary;
}

.layout-secondary {
	@include column(3);
}

.layout-secondary-pulled {
	@include column(3, (shifted: true));
	@include pull(6, 3);
}

.layout-tertiary {
	@include column(3);
	background-color: $colorSecondary;
}

.layout-centered {
	@include column(8, (alignment: centered));
	border: 1px dashed $colorPrimary;
}

// complex layout
.layout-complex-wrapper {
	@include row((padding: 0, maxWidth: 100%));
}

.layout-complex-header {
	@extend %column-config;
	padding: $columnPadding;

	// max-width needed because border-box isn't supported for the footer element in old versions of IE; this overrides the default for headers
	.oldie & {
		max-width: none;
	}
}

.layout-complex-primary {
	@extend %column-config;
	border: 1px dashed $colorPrimary;
	padding: $columnPadding;

	@include media(breakpointMedium) {
		width: columns(7, false);
	}

	@include media(breakpointLarge) {
		width: columns(6, false);
	}
}

.layout-complex-nav {
	@extend %column-config;
	background-color: $colorSecondary;
	padding: $columnPadding;

	@include media(breakpointExtraLarge) {
		width: columns(1.5, false);
	}
}

.layout-complex-tertiary {
	@extend %column-config;
	background-color: $colorSecondary;
	padding: $columnPadding;

	@include media(breakpointMedium) {
		width: columns(5, false);
	}

	@include media(breakpointLarge) {
		width: columns(3, false);
	}
}

.layout-complex-footer {
	@extend %column-config;
	padding: $columnPadding;

	@include media(breakpointLarge) {
		width: columns(3, false);
	}

	@include media(breakpointExtraLarge) {
		width: columns(1.5, false);
	}
}

// supporting classes
.aspect-ratio-4-3 {
	@include aspect-ratio((width: 4, height: 3));
}

.nested,
aside {
	@include row((nested: nested));
}

.multi-grid {
	border: 1px dashed $colorPrimary;

	@include multi-grid("> li", 1, 2, 3, flush) {
		text-align: center;
	}
}