// @category layout

// @function content
// The location to define major column layouts for your main content area.
.wrapper {
	@include row((padding: 0));
}

// semantic grid
.layout-primary,
.layout-centered {
	border: 1px dashed color(primary);
}

.layout-secondary,
.layout-tertiary {
	background-color: color(secondary);
}

.layout-primary,
.layout-secondary,
.layout-tertiary {
	@include transition();
}

.layout-centered {
	@include column(8, (alignment: centered, includeGutterWidth: false));
}

.template-two-column {
	&.not-shifted {
		&.no-gutters {
			.layout-primary {
				@include column(9, (includeGutterWidth: false));
			}

			.layout-secondary {
				@include column(3, (includeGutterWidth: false));
			}
		}

		&.gutters {
			.layout-primary {
				@include column(9);
			}

			.layout-secondary {
				@include column(3);
			}
		}
	}

	&.shifted {
		&.no-gutters {
			.layout-primary {
				@include column(9, (includeGutterWidth: false, position: 4));
			}

			.layout-secondary {
				@include column(3, (includeGutterWidth: false, position: 1));
			}
		}

		&.gutters {
			.layout-primary {
				@include column(9, (position: 4));
			}

			.layout-secondary {
				@include column(3, (position: 1));
			}
		}
	}
}

.template-three-column {
	&.not-shifted {
		&.no-gutters {
			.layout-primary {
				@include column(6, (includeGutterWidth: false));
			}

			.layout-secondary {
				@include column(3, (includeGutterWidth: false));
			}

			.layout-tertiary {
				@include column(3, (includeGutterWidth: false));
			}
		}

		&.gutters {
			.layout-primary {
				@include column(6);
			}

			.layout-secondary {
				@include column(3);
			}

			.layout-tertiary {
				@include column(3);
			}
		}
	}

	&.shifted {
		&.no-gutters {
			.layout-primary {
				@include column(6, (includeGutterWidth: false, position: 4));
			}

			.layout-secondary {
				@include column(3, (includeGutterWidth: false, position: 1));
			}

			.layout-tertiary {
				@include column(3, (includeGutterWidth: false, position: 10));
			}
		}

		&.gutters {
			.layout-primary {
				@include column(6, (position: 4));
			}

			.layout-secondary {
				@include column(3, (position: 1));
			}

			.layout-tertiary {
				@include column(3, (position: 10));
			}
		}
	}
}

// complex layout
.layout-complex-wrapper {
	@include row((padding: 0, maxWidth: 100%));
}

.layout-complex-header {
	@extend %column-config;
	padding: $columnPadding;

	// max-width needed because border-box isn't supported for the footer element in old versions of IE; this overrides the default for headers
	.oldie & {
		max-width: none;
	}
}

.layout-complex-primary {
	@extend %column-config;
	border: 1px dashed color(primary);
	padding: $columnPadding;

	@include media(breakpointMedium) {
		width: columns(7, (includeGutterWidth: false));
	}

	@include media(breakpointLarge) {
		width: columns(6, (includeGutterWidth: false));
	}
}

.layout-complex-nav {
	@extend %column-config;
	background-color: color(secondary);
	padding: $columnPadding;

	@include media(breakpointExtraLarge) {
		width: columns(1.5, (includeGutterWidth: false));
	}
}

.layout-complex-tertiary {
	@extend %column-config;
	background-color: color(secondary);
	padding: $columnPadding;

	@include media(breakpointMedium) {
		width: columns(5, (includeGutterWidth: false));
	}

	@include media(breakpointLarge) {
		width: columns(3, (includeGutterWidth: false));
	}
}

.layout-complex-footer {
	@extend %column-config;
	padding: $columnPadding;

	@include media(breakpointLarge) {
		width: columns(3, (includeGutterWidth: false));
	}

	@include media(breakpointExtraLarge) {
		width: columns(1.5, (includeGutterWidth: false));
	}
}

// supporting classes
.map {
	@include aspect-ratio(4, 3);

	img {
		max-width: none; // resets map controls
	}
}

.nested,
aside {
	@include row((nested: true));
}

.multi-grid {
	border: 1px dashed color(primary);

	> li {
		&:before {
			display: none;
		}
	}

	@include multi-grid("> li", 1, 2, 3, (flush: true)) {
		text-align: center;
	}
}