%icon-config {
	font-family: $iconFontFamily;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
}

[class^="icon-"], [class*=" icon-"] {
	@extend %icon-config;
}