/***
 * Lists:
 */

/**
 * Unordered Lists:
 * `<ul>...</ul>`
 * <p>Bullets on unordered lists are generated as `:before` pseudo elements, using a unicode bullet (`content: "\2022"`). This normalizes the appearance of bullets across platforms.</p>
 * <p><strong>NOTE:</strong>&nbsp;Bullets on nested lists (e.g.: `ul > ul`) will appear the same as their parent&mdash;no switching to disc, etc., as is standard in user agent stylesheets. If this is desired, those styles will need to be overridden for nested lists. For most applications, however, indentation seems to provide enough of a visual cue to convey the sense of &lsquo;nested-ness&rsquo;.</p>
 *
 *		@example
 *		<ul>
 *			<li>Short Item in the list</li>
 *			<li><a href="#">Short Item in the list</a></li>
 *			<li>Short Item in the list</li>
 *			<li><a href="#">Short Item in the list</a></li>
 *			<li>Short Item in the list</li>
 *			<li>Really long item in the list, Really long item in the list, Really long item in the list, Really long item in the list, Really long item in the list, Really long item in the list, Really long item in the listReally long item in the list, Really long item in the list, Really long item in the list, Really long item in the list, Really long item in the list, Really long item in the list</li>
 *		</ul>
 */

/**
 * Ordered Lists:
 * `<ol>...</ol>`
 *
 *		@example
 *		<ol>
 *			<li>Short Item in the list</li>
 *			<li><a href="#">Short Item in the list</a></li>
 *			<li>Short Item in the list</li>
 *			<li><a href="#">Short Item in the list</a></li>
 *			<li>Short Item in the list</li>
 *			<li>Really long item in the list, Really long item in the list, Really long item in the list, Really long item in the list, Really long item in the list, Really long item in the list, Really long item in the listReally long item in the list, Really long item in the list, Really long item in the list, Really long item in the list, Really long item in the list, Really long item in the list</li>
 *		</ol>
 */

ul {
	list-style-image: none;
	list-style: none;
	padding-left: em($listBulletSize);

	li:before {
		color: color(primary);
		content: "\2022";
		display: inline-block;
		float: left;
		font-size: em($listBulletSize);
		line-height: ($baseFontSize / $listBulletSize) * $lineHeight;
		margin-left: em($baseFontSize, (context: -$listBulletSize));
		text-align: left;
		width: em($baseFontSize, (context: $listBulletSize));
	}
}

ul, ol {
	margin: em(10) 0 0;
	padding: 0 0 0 em(20);

	ul {
		margin-left: em(18);
		margin-top: 0;
	}
}
dd {
	margin: 0;
}