ul {
	list-style-image: none;
	list-style: none;
	padding-left: em($listIndentWidth);

	li:before {
		color: $colorPrimary;
		content: "\2022";
		display: inline-block;
		float: left;
		margin-left: em((-$listIndentWidth));
		text-align: left;
		width: em($listIndentWidth);
	}
}

ul, ol {
	margin: em(10) 0 0;
	padding: 0 0 0 em(20);

	ul {
		margin-left: em(18);
		margin-top: 0;
	}
}
dd {
	margin: 0;
}