// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
	box-sizing: border-box;

	// print defaults
    @include media(print) {
        background: transparent !important;
        box-shadow: none !important;
        color: #000 !important; // black prints faster
        text-shadow: none !important;
    }
}

html {
	font: #{$baseFontPercentage}/#{$lineHeight} $baseFontFamily;
}

body {
	background: white;
	color: black;
	margin: 0;
	min-width: 0;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	width: 100%;
}