table {
	border-collapse: collapse;
	@include font-size(12);
	width: 100%;

	thead {
		@include media(print) {
			display: table-header-group;
		}
	}

	th {
		background-color: color(primary);
		color: white;
		font-weight: normal;
		vertical-align: middle;
	}

	td {
		background-color: white;
	}

	th, td {
		border: 1px solid black;
		padding: em(8);
		text-align: left;
	}

	tr:nth-child(2n) {
		> td {
			background-color: color(greyLight);

			&.empty,
			&.plain {
				background-color: transparent;
			}
		}
	}

	@include media(medium) {
		@include font-size(14);
	}
}