/***
 * Tables:
 */

/**
 * Tables:
 * `<table>...</table>`<br>
 * Standard table markup is expected: `<thead>`, `<tfoot>`, `<tbody>`, etc. Zebra striping is applied by default.
 *
 *		@example
 *		<table>
 *			<thead>
 *				<tr>
 *					<th>Lorem Ipsum dolor</th>
 *					<th>Lorem Ipsum dolor</th>
 *					<th>Lorem Ipsum dolor</th>
 *				</tr>
 *			</thead>
 *			<tbody>
 *				<tr>
 *					<td>Mauris vestibulum auctor</td>
 *					<td>Mauris vestibulum auctor</td>
 *					<td>Mauris vestibulum auctor</td>
 *				</tr>
 *				<tr>
 *					<td>Mauris vestibulum auctor</td>
 *					<td>Mauris vestibulum auctor</td>
 *					<td>Mauris vestibulum auctor</td>
 *				</tr>
 *				<tr>
 *					<td>Mauris vestibulum auctor</td>
 *					<td>Mauris vestibulum auctor</td>
 *					<td>Mauris vestibulum auctor</td>
 *				</tr>
 *				<tr>
 *					<td>Mauris vestibulum auctor</td>
 *					<td>Mauris vestibulum auctor</td>
 *					<td>Mauris vestibulum auctor</td>
 *				</tr>
 *			</tbody>
 *		</table>
 *
 */

table {
	border-collapse: collapse;
	@include font-size(12);
	width: 100%;

	thead {
		@include media(print) {
			display: table-header-group;
		}
	}

	th {
		background-color: color(primary);
		color: white;
		font-weight: normal;
		vertical-align: middle;
	}

	td {
		background-color: white;
	}

	th, td {
		border: 1px solid black;
		padding: em(8);
		text-align: left;
	}

	// zebra striping code needs to repeat because IE < 8 will ignore the code if an nth-child selector is in it
	tr:nth-child(2n) {
		> td {
			background-color: color(greyLight);

			&.empty,
			&.plain {
				background-color: transparent;
			}
		}
	}
	tr.even {
		> td {
			background-color: color(greyLight);

			&.empty,
			&.plain {
				background-color: transparent;
			}
		}
	}

	@include media(medium) {
		@include font-size(14);
	}
}